<section class="hero">
<div class="container gutter">
  <div class="header_box">
    <img src="{{page.hero.logo}}" alt="{{page.hero.alt}}">
{%- if page.partnership -%}
  {%- if page.partnership == "nfr" -%}
    <span class="partnership">X</span>
  {%- else -%}
    <span>{{page.partnership}}</span>
  {%- endif -%}
{%- else -%}
  <span>in partnership with</span>
{%- endif -%}
    <img src="/uploads/logo.svg" alt="logo">
  </div>
<div class="banner">
  <div class="text_box">
    <h1 class="header__title">{{page.title}}</h1>
    <p>{{page.description}}</p>
  </div>
  <div class="video_box">
    <video controls width="550" {% if page.video_mask %}poster="{{ page.video_mask }}"{% endif %}>
      <source src="{{page.video}}" type="video/mp4">
      Sorry, your browser doesn't support embedded videos.
  </video>
  </div>
  </div>
  <div class="cta">
    {% if page.cta_top %}
    <a href="{{page.cta_top[0].link}}" class="button button--medium button-primary" title="contact">{{page.cta_top[0].label}} ></a>
    <a href="{{page.cta_top[1].link}}" class="button button--medium button-primary" title="team">{{page.cta_top[1].label}} ></a>
    {% else %}
    <a href="/NFR-contact/" class="button button--medium button-primary" title="contact">Pre-book a demo ></a>
    <a class="button button--medium button-primary" title="team">Visit us at booth #557</a>
    {% endif %}
</div>
</div>
</section>
