.cases__list {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(stretch);
}

.case-study {
  display: flex;
  flex-direction: column;
  max-width: calc-columns-width(2.3);
  height: 100%;

  &__banner {
    float: right;

    .case-study__wrap {
      margin: 0;
      border: none;

      .case-study {
        max-width: 320px;

        &__header {
          background-color: #ffffff;
        }

        &__image {
          max-height: 320px;
        }
      }
    }
  }

  &__title {
    text-transform: uppercase;
    padding: 11px;
    background-color: $background--dark;
    color: #ffffff;
    height: 40px;
    text-align: center;
  }

  &__wrap {
    margin-right: $gutter-width / 2;
    margin-bottom: rhythm(3);
    margin-left: $gutter-width / 2;
    border: solid 1px $border-color;
    border-radius: $border-radius--base;
  }

  &__header {
    font-size: ms(0);
    line-height: rhythm(3);
    background: $background--white;
    text-align: center;
    height: 85px;

    > span {
      font-size: ms(-1);
      font-weight: 400;
      display: block;
      color: $text-color-soft;
      height: 50px;
    }

    .index-riverisland {
      padding: 11px;
    }

    .modist,
    .riverisland {
      padding: 5px;
    }

    .ovs {
      max-width: 28%;
      margin: 0 auto;
    }
  }

  &__list {
    height: 80px;
  }

  &__body {
    background-color: #ffffff;
    padding: 16px;
    flex: 1;

    > p {
      margin-bottom: 0;
    }
  }

  &__image {
    max-height: 240px;
  }

  &__footer {
    > .button {
      width: 100%;
      text-align: center;
    }
  }
}

.index-case-study {
  display: flex;
  justify-content: space-between;

  .success-story-title {
    max-width: 616px;

    img {
      width: 32px;
    }

    span {
      text-transform: uppercase;
      line-height: 40px;
      font-size: 24px;
      margin-bottom: 15px;
      position: relative;
      top: -7px;
    }

    .success-story__body {
      font-size: 32px;
      line-height: 37px;
      margin: 0 0 8px 0;
    }

    .section__footer {
      a {
        text-align: center;
      }
    }
  }

  .case-study__wrap {
    border: none;
    max-width: 259px;
    min-width: 259px;
  }
}

.success-stories-section {
  padding: rhythm(11) 0;
  width: 100%;
}

.success-story-contact {
  background: $section-background-color;
  border-top: 1px solid $section-border-color;
  border-bottom: 1px solid $section-border-color;
}

@include responsive(tablet) {
  .case-study {
    max-width: calc-columns-width(3);

    &__wrap {
      margin-right: $tablet-gutter-width / 2;
      margin-left: $tablet-gutter-width / 2;
      margin-bottom: 70px;
    }

    &__header {
      span {
        height: auto;
      }
    }
  }

  .case-study__banner {
    margin-top: 32px;
    float: left;
    width: 100%;

    .case-study {
      margin: 0 auto;
    }
  }

  .index-case-study {
    flex-wrap: wrap;

    .case-study__wrap {
      margin: 25px auto 0 auto;
    }
  }
}

@include responsive(mobile) {
  .case-study {
    max-width: 100%;

    &__wrap {
      margin-right: $mobile-gutter-width / 2;
      margin-left: $mobile-gutter-width / 2;
    }

    &__header {
      span {
        height: auto;
      }
    }

    &__image {
      max-height: 100%;
    }

    &__banner {
      .case-study__wrap {
        .case-study {
          &__image {
            max-height: 300px;
          }
        }
      }
    }
  }
}
