.resource {
  @include flexbox;
  @include flex-wrap(wrap);
  margin-bottom: rhythm(5);
  padding-bottom: rhythm(6);
  border-bottom: 1px solid $border-color;

  &:first-child {
    border-bottom: 2px solid $brand-primary-color;
  }

  &:last-child {
    border-bottom: none;
  }

  &__content {
    flex: 7;

    h1 {
      @extend .h3;
    }

    h2 {
      font-size: ms(1);
      line-height: rhythm(3.5);
      margin-bottom: rhythm(2);
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      @extend %list-styled;
    }
  }

  &__image {
    flex: 3;
    margin-left: $gutter-width;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

@include responsive(tablet) {
  .resource {
    &__content {
      flex-basis: 100%;
    }

    &__image {
      flex-basis: 100%;
      order: -1;
      margin-left: 0;
      margin-bottom: rhythm(3);
    }
  }
}
