.article {
	margin-bottom: rhythm(10);

	&__footer {
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid $border-color;
		padding-top: rhythm(2);
	}

	&__tags {
		flex-basis: 50%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		text-align: right;
		height: 32px;

		> .article__tag {
			margin: 0 5px 0 0;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__meta {
		display: flex;
		flex-basis: 50%;
		color: $text-color-soft;
		font-size: ms(-1);
		line-height: 32px;
	}

	&__author {
		display: flex;

		> a {
			@include link-style;
		}

		&-profile {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			margin:0 5px 0 0;
		}

		&:after {
			content: "|";
			padding: 0 5px;
			color: darken($border-color,10);
		}
	}

	&__content {
		padding-bottom: rhythm(3);

		h1 {
		  font-size: ms(6);
		  line-height: rhythm(6);
		}

		h2 {
		  font-size: ms(3);
		  line-height: rhythm(4);
		  margin: rhythm(4) 0 rhythm(1) 0;
		}

		h3 {
		  font-size: ms(2);
		  line-height: rhythm(3);
		  margin: rhythm(4) 0 rhythm(1) 0;
		}

		p:last-child 	{
			margin-bottom: 0;
		}

		blockquote {
		  margin: 0 0 rhythm(3) rhythm(-3.5);
		  padding: rhythm(1) 0 rhythm(1) 28px;
		  border-left: 2px solid $brand-primary-color;

		  	p {
		      font-size: ms(1);
		      line-height: rhythm(4);
		  	}
		}

		&__more{
			@include link-style;
    	border-bottom: solid 2px $border-color;
		}
	}
}