.cases__list {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(stretch);
}

.case-study {
  display: flex;
  flex-direction: column;
  max-width: calc-columns-width(2.3);
  height: 100%;

  &__wrap {
    margin-right: $gutter-width / 2;
    margin-bottom: rhythm(3);
    margin-left: $gutter-width / 2;
    border: solid 1px $border-color;
    border-radius: $border-radius--base;
  }

  &__header {
    font-size: ms(0);
    line-height: rhythm(3);
    padding: rhythm(2);
    background: $background--lighter;
    text-align: center;
    height: 80px;

    > span {
      font-size: ms(-1);
      font-weight: 400;
      display: block;
      color: $text-color-soft;
      height: 50px;
    }
  }

  &__body {
    padding: rhythm(2);
    flex: 1;

    > p {
      margin-bottom: 0;
    }
  }

  &__image {
    max-height: 240px;
  }

  &__logo.wallis {
    max-width: 45%;
    margin: 0 auto;
  }

  &__footer {
    > .button {
      width: 100%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 910px) and (min-width: 800px) {
  .case-study {
    max-width: calc-columns-width(2);
  }
}

@include responsive(tablet) {
  .case-study {
    max-width: calc-columns-width(3);

    &__wrap {
      margin-right: $tablet-gutter-width / 2;
      margin-left: $tablet-gutter-width / 2;
    }

    &__header {
      span {
        height: auto;
      }
    }
  }
}

@include responsive(mobile) {
  .case-study {
    max-width: 100%;

    &__wrap {
      margin-right: $mobile-gutter-width / 2;
      margin-left: $mobile-gutter-width / 2;
    }

    &__header {
      span {
        height: auto;
      }
    }

    &__image {
      max-height: 100%;
    }
  }
}
