.integration {
  &__logos {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
    padding-left: 8% !important;
  }

  &__logo {
    max-width: 17%;
    margin-right: 120px !important;
    margin-bottom: 30px !important;
    min-width: 120px;

    &:before {
      display: none;
    }
  }
}

.cheetah,
.google-tag-manager,
.intelligent-reach {
  img {
    max-width: 150%;
  }
}

// mobile responsive styles

@include responsive(tablet) {
  .integration {
    &__logo {
      width: 22%;
      margin-bottom: 35px !important;
    }
  }
}

@include responsive(mobile) {
  .integration {
    &__logo {
      text-align: center;
      flex-basis: 100%;
      margin-right: 65px !important;
      max-width: 100px;
    }
  }
}
