.client {
  &__logos {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
  }

  &__logo {
    margin: rhythm(3) rhythm(5);
    
  	&.jdw {
  		width: 200px;
  	}
  }
}

// mobile responsive styles
@include responsive(mobile) {
  .client {
    &__logo {
      text-align: center;
      flex-basis: 100%;
    }
  }
}
