.project {
  padding: rhythm(11) 0 rhythm(12);

  &:first-child {
    padding-top: 0;
  }

  > .container {
    display: flex;
  }

  &__image {
    flex: 4;
    justify-content: center;
  }

  &__copy {
    flex: 5;
    margin: auto 0;

    &--top {
      flex: 5;
      padding-top: rhythm(5);
      margin: 0;
    }
  }

  &:nth-child(2n - 1) {
    border-top: 1px solid $section-border-color;
    border-bottom: 1px solid $section-border-color;
  }

  &:first-child {
    border-top: 0;
  }

  &:last-child {
    border-bottom: 0;
  }
}

// tablet responsive styles
@include responsive(tablet) {
  .project {
    padding: rhythm(8) 0;

    > .container {
      flex-wrap: wrap;
    }

    &__image {
      flex-basis: 100%;
      order: 1;
      margin-bottom: rhythm(2);
    }

    &__copy {
      flex-basis: 100%;
      order: 2;
    }
  }
}

// tablet responsive styles
@include responsive(mobile) {
  .project {
    padding: rhythm(5) 0;
  }
}