.slider {
  max-width: 800px;
  width: 100%;
  margin: 50px auto;
  padding: 10px;

  .slick-next {
    right: 0;
  }

  .slick-prev {
    left: 0;
  }
  
  .slick-prev:before, .slick-next:before {
    color: $text-color-strong;
  }


  @include responsive(tablet) {
    max-width: 500px;
  }

  @include responsive(mobile) {
    max-width: 300px;
  }
}
