.site-footer {
  padding: rhythm(9) 0 rhythm(12);
  color: $footer-text-color;
  background: $footer-background-color;
  font-size: ms(-1);

  > .container {
    display: flex;
  }

  &__logo {
    flex: 3;

    svg {
      fill: $logo-fill-color-inverse;
    }
  }

  &__nav {
    flex: 10;
  }

  &__cols {
    display: flex;
    padding-top: rhythm(3);
  }

  &__col {
    line-height: ms(5);
    color: $footer-text-color;
    flex: 1;

    li {
      margin-bottom: 10px;
    }
    
    &-title {
      font-size: ms(0);
      line-height: ms(2);
      position: relative;
      margin-bottom: rhythm(1.5);
      padding-bottom: rhythm(1);
      color: $footer-heading-color;

      &::after {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 16px;
        height: 3px;
        margin: auto;
        content: '';
        border-radius: 2px;
        background: $brand-primary-color;
      }
    }

    > .button {
      margin-top: rhythm(3);
      color: inherit;
    }
  }

  &__copyright {
    margin-top: rhythm(12);
    color: $footer-text-color-soft;

    a:after {
      content: ' — ';
    }

    a:last-child:after {
      content: '';
    }
  }
}

// tablet responsive styles
@include responsive(tablet) {
  .site-footer {
    padding: rhythm(8) 0;

    > .container {
      flex-wrap: wrap;
    }

    &__logo,
    &__nav {
      flex-basis: 100%;
    }

    &__copyright {
      margin-top: rhythm(8);
    }
  }
}

// mobile responsive styles
@include responsive(mobile) {
  .site-footer {
    text-align: center;
    padding: rhythm(5) 0;

    &__cols {
      flex-wrap: wrap;
    }

    &__col {
      flex-basis: 100%;

      &-title {
        margin-top: rhythm(3);

        &::after {
          right: 0;
          margin: auto;
        }
      }
    }

    &__copyright {
      margin-top: rhythm(5);
    }
  }
}
