.feature {
  padding: rhythm(11) 0 rhythm(12);

  > .container {
    @include flexbox;
  }

  .features-container {
    justify-content: center;
    margin-top: 30px;
  }

  &__image {
    display: flex;
    flex: 5;
    justify-content: center;
    order: -1;
  }

  &__copy {
    flex: 5;
    margin: auto 0;
    text-align: left;
    max-width: 652px;

    &--top {
      flex: 5;
      padding-top: rhythm(5);
      margin: 0;
    }
  }

  &__title {
    font-size: 32px;
  }

  &__subtitle {
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 28px;
  }

  &__body {
    font-size: 18px;
  }

  &:nth-child(2n) {
    border-top: 1px solid $section-border-color;
    border-bottom: 1px solid $section-border-color;
    background: $section-background-color;
  }
}

.feature.background--white {
  background-color: $background--white;
}

.feature.background--lighter {
  background-color: $background--lighter;
}

.index {
  .feature-image-wrapper {
    display: block;
    width: 100%;
    text-align: center;

    img {
      display: inline;
      width: 55%;
      margin: 3px auto;
    }
  }
}
.feature__image .feature__image_line {
  display: grid;
  gap: 10px;
  @media (min-width: 375px) {
    grid-template-columns: 1fr 1fr;
    gap: 26px;
  }
  .feature__image {
    max-width: 558px;
    height: auto;
    width: 100%;
  }
}
.order-center {
  order: 0;
  flex: 100%;
  padding: 0;
}

.feature-image-wrapper {
  display: flex;
  align-items: center;
}
.feature__form {
  display: flex;
  flex: 5;
  justify-content: center;
  order: -1;
  flex-direction: column;
}
// place feature__image to the right on even feature row
.feature:nth-child(2n) .feature__image {
  order: 99;
}

// tablet responsive styles
@include responsive(tablet) {
  .feature {
    padding: rhythm(8) 0;

    > .container {
      flex-wrap: wrap;
    }

    &__image {
      flex-basis: 100%;
      order: 2;
      margin-bottom: rhythm(2);
    }

    &__copy {
      flex-basis: 100%;
      order: 2;
    }

    &__title {
      font-size: 29px;
      line-height: 27px;
    }

    &__mini-title {
      font-size: 16px;
    }
  }

  .feature:nth-child(2n) .feature__image {
    order: 2;
  }

  .index {
    .feature-image-wrapper {
      img {
        width: 85%;
      }
    }
  }
}

@include responsive(mobile) {
  .feature {
    padding: rhythm(5) 0;

    &__image.single-mobile {
      margin: 0 auto;
      max-width: 60%;
    }
  }
}

.intro {
  width: calc-columns-width(8);

  &__list {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);
    margin-top: rhythm(8);
  }

  &__copy {
    ul {
      margin-top: rhythm(3);
      @extend %list-styled;
    }
  }
}

.slide {
  > .container {
    @include flexbox;
  }

  &__image {
    display: flex;
    flex: 5;
    justify-content: center;
    order: 2;
  }
}
