.header {
  @extend %clearfix;

  padding: rhythm(3) 0;
  border-bottom: solid 1px $border-color;
  background: white;

  // start primary navigation
  .navigation {
    float: right;

    &__items {
      margin: 0;
      padding: 0;
      text-align: right;
    }

    &__item {
      display: inline-block;
      margin: 0 rhythm(1);

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin: 0 0 0 rhythm(2);
      }
    }

    &__link {
      line-height: rhythm(4);
      display: inline-block;
      padding: 0 rhythm(2);

      &--active {
        color: $text-color-soft;
      }

      &:hover {
        color: $text-color-soft;
      }
    }

    &__button {

      font-size: ms(0);
    }
  }

  &__logo {
    float: left;
  }

  &__subtitle {
    > h2, > h3{
      font-weight: 400;
      line-height: rhythm(4);
      margin: rhythm(2) 0 rhythm(2);
    }

    > h2 {
      font-size: ms(2);
    }

    > h3, > h4 {
      font-size: ms(1);
    }

    > ul {
      @extend %list-styled;
    }
  }

  &__button {
    @extend %button--large;

    margin-top: rhythm(2);

    &-group {
      a {
        display: inline-block;
      }
    }
  }

  &__link {
    @include link-style;

    margin-left: rhythm(5);
    padding-bottom: rhythm(1);
    border-bottom: solid 2px $border-color;
  }

  &-mobile-button {
    display: none;
  }
}

.hero {
  position: relative;
  padding-top: rhythm(14);
  padding-bottom: rhythm(21);
  background: $header-hero-background-color;
  background-size: contain !important;

  &__content {
    float: left;
    max-width: calc-columns-width(5);

    &--extend {
      @include margin-center;
      @include text-center;

      max-width: calc-columns-width(7);
    }

    &--full {
      @include margin-center;
      @include text-center;

      max-width: 100%;
    }
  }

  &--tight,
  &--tighter {
    padding-top: rhythm(14);
    padding-bottom: rhythm(14);

    .header__title {
      font-size: ms(6);
      line-height: rhythm(6);
      margin: 0 0 rhythm(1) 0;
    }
  }

  &--tighter {
    padding-top: rhythm(5);
    padding-bottom: rhythm(5);
  }

  &__form {
    float: right;
    width: calc-columns-width(4);
  }
}

// tablet responsive styles
@include responsive(tablet) {
  .hero {
    position: relative;
    background-position: center !important;
    background-size: cover !important;

    &::before {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background: $header-hero-mask-color;
    }

    &__content {
      position: relative;
      z-index: 2;
    }
  }
}


@media (min-width: 1001px) {
  .navigation-dropdown {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;

    &__trigger {
      position: relative;
      padding-right: 12px;
      cursor: pointer;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        margin: auto;
        content: '';
        border-top: 4px solid $header-dropdown-triangle-color;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
      }

      &--active {
        color: $text-color-soft;
      }
    }

    &__menu {
      position: absolute;
      z-index: -1;
      top: 100%;
      left: rhythm(2) * -1;
      visibility: hidden;
      transition: transform .35s ease;
      transform: translateY(-10px);
      border: 1px solid $border-color;
      border-radius: 4px;
      background: $header-dropdown-background-color;

      > li {
        padding: rhythm(1) 0;
        border-bottom: 1px solid $border-color;

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    &:hover > .navigation-dropdown__menu {
      z-index: 100;
      visibility: visible;
      transform: translateY(0);
      opacity: 1;
    }
  }
}


// responisve styles
@media (max-width: 1000px) {
  .header {
    position: relative;
    padding: rhythm(2) 0;

    .navigation {
      position: absolute;
      z-index: 100;
      top: 100%;
      right: 0;
      left: 0;
      display: none;
      padding: 0 0 rhythm(4) 0;
      text-align: center;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      background: $header-mobile-nav-background-color;

      &--open {
        display: block;
      }

      &__item {
        display: block;
        margin: 0;

        &:first-child > .navigation__link {
          border-top: none;
        }

        &:last-child {
          margin: 0 rhythm(2);
        }
      }

      &-dropdown__trigger {
        display: none;
      }

      &__link{
        display: block;
        border-top: 1px solid $border-color;
        padding: rhythm(2) 0;
      }

      &-dropdown {
        &__trigger {
          line-height: rhythm(4);
        }

        &__menu {
          position: static;
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &__logo {
      > svg {
        // original width 147px, height 50px
        width: 147 / 50 * 32px;
        height: 32px;
      }
    }

    &-mobile-button {
      display: block;
      float: right;
      width: auto;

      > svg {
        width: 32px;
        height: 32px;
      }

      > #svg-cross {
        display: none;
      }

      &--open {
        > #svg-menu {
          display: none;
        }

        > #svg-cross {
          display: block;
        }
      }
    }
  }
}

// mobile responsive styles
@include responsive(mobile) {
  .header {
    &__link {
      display: block;
      margin: rhythm(4) 0 0;
    }
  }

  .hero {
    padding-top: rhythm(10);
    padding-bottom: rhythm(12);
  }
}
