.tag {
  display: inline-block;
  color: $text-color-soft;
  font-size: ms(-4);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 0 5px;
  line-height: 25px;
  background: $background--lighter;
  border: 1px solid $border-color;

  &:hover {
    color: $brand-primary-color;
  }
}
