.background--white {
	background: $background--white;
}

.background--grey {
	background: $background--light;
}

.background--light-grey {
	background: $background--lighter;
}

.background--dark-grey {
	background: $background--dark;
}

.text--center {
	text-align: center;
}