.widget {
  margin: rhythm(1) 0 rhythm(5);

  &--boxed {
    background: $background--lighter;
    padding: 20px;
  }

  ul {
    @extend %list-styled;
    font-size: ms(-1);
    line-height: rhythm(3);

    li {
      > a:hover {
        color: $brand-primary-color;
      }
    }
  }

  h3 {
    font-size: ms(2);
    line-height: rhythm(3.5);
  }

  p {
    font-size: ms(-1);
    line-height: rhythm(3);
    margin: 0 0 rhythm(2) 0;

    &:last-child {
      margin: 0;
    }

    a {
      width: 100%;
      padding: 0 7px;
    }
  }
}
