// clearfix
.clearfix {
  @include clearfix;
}

// container
.container {
  @include clearfix;

  max-width: $page-max-width;
  margin: 0 auto;

  &--narrow {
    @extend .container;

    max-width: calc-columns-width(7);
  }
}

.multi-columns {
  @include flexbox;
  @include flex-wrap(wrap);

  margin-top: rhythm(8);

  .column {
    margin-bottom: rhythm(8);

    &:last-child {
      margin-top: 0;
    }
  }

  &.span-2 > .column {
    flex-basis: 50%;
  }

  &.span-3 > .column {
    flex-basis: 33%;
  }

  &.span-4 > .column {
    flex-basis: 24%;
  }
}

// grid gutter
.gutter {
  padding-right: $gutter-width / 2;
  padding-left: $gutter-width / 2;
}

.page-content {
  padding-top: rhythm(12);
  padding-bottom: rhythm(12);

  &--narrow {
    @include margin-center;

    @extend .page-content;

    max-width: calc-columns-width(7);
  }
}

// tablet styles
@include responsive(tablet) {
  .gutter {
    padding-right: $tablet-gutter-width / 2;
    padding-left: $tablet-gutter-width / 2;
  }

  .column {
    flex-basis: 100% !important;
  }
}

// mobile styles
@include responsive(mobile) {
  .gutter {
    padding-right: $mobile-gutter-width / 2;
    padding-left: $mobile-gutter-width / 2;
  }
}
