.landing {
	> .container {
		@include flexbox;
	 	@include flex-wrap(wrap);
	  @include justify-content(center);
	}

	&__content {
	  flex: 6;

	  ul {
      @extend %list-styled;

      li {
        > a:hover {
          color: $brand-primary-color;
        }
      }
    }
  }

  &__form {
	  flex: 4;
	  margin-left: $gutter-width;
  }
}

@include responsive(tablet) {
	.landing {
		&__content {
			flex-basis: 100%;
		}

		&__form {
			flex-basis: 100%;
			margin-left: 0;
		}
	}

	.form-download {
  	padding: rhythm(2);
	}
}

@include responsive(mobile) {

}

.video-page  {
	h1, h4 {
		text-align: center;
		padding: rhythm(2);
	}

	.gutter {
		margin-top: 50px;
		margin-bottom: 50px;
	}
}
