.hero-partners {
	.client__logos {
		margin: rhythm(8) 0;

		&.jdw {
			width: 200px;
		}
	}
}

.client__logos {
	margin-top: rhythm(8);

	&.jdw {
		width: 200px;
	}
}

.cases__list {
	margin-top: rhythm(8);
}

@include responsive(mobile) {
	.hero-partners .client__logos {
		margin: rhythm(4) 0;

		&.jdw {
			width: 200px;
		}
	}
}
