.project__body {
  padding-right: 40px;
  padding-left: 40px;
}

.center {
  text-align: center;

  .ul-div {
    margin: 0 auto;
    text-align: left;

    ul {
      margin-left: 43%;

      li {
        &:before {
          content: "✔";
          margin-top: 0;
          margin-left: -21px;
        }
      }
    }
  }
}

blockquote.yellow-blockquote{
  border-left: 2px solid yellow !important;
  p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .center {
    .ul-div {
      ul {
        margin-left: 16px !important;
      }
    }
  }
}
