.hero-partners {
	.client__logos {
		margin: rhythm(8) 0;
	}
}

.client__logos {
	margin-top: rhythm(8);
}

.cases__list {
	margin-top: rhythm(8);
}

@include responsive(mobile) {
	.hero-partners .client__logos {
		margin: rhythm(4) 0;
	}
}