.section-blog {
  > .container {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);

    .blog__content {
      flex: 7;

      &--single {
        flex-basis: 100%;
        @include margin-center;
        max-width: calc-columns-width(7);
      }
    }

    .blog__sidebar {
      flex: 3;
    }

    .blog__buttonWrap {
      margin-bottom: rhythm(5);
    }
  }
}

@include responsive(tablet) {
  .section-blog {
    > .container {
      .blog__content,
      .blog__sidebar {
        flex-basis: 100%;
      }
    }
  }
}
