.hero-solutionsuniversal-network {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 30%, #F0F0F0 50%), url(/uploads/banner_labs.jpg) no-repeat right !important;
  background-size: contain !important;
  max-height: 608px;
}

ul.universal-network-list  {
  @extend %list-styled;
}

.section-benefits {
  background-color: white;
}

.tick-ul {
  ul {
    li {
      &:before {
        content: "✔";
        margin-top: 0;
        margin-left: -21px;
      }
    }
  }
}
