.section-considerations {
  padding: 0;

  .nav-wrapper {
    @media screen and (max-width: 600px) {
      display: none;
    }

    float: left;
    position: relative;
    top: 120px;
    left: 12px;
    width: 200px;
    height: 500px;
    overflow: scroll;

    .stuck {
      position: fixed;
      top: 114px;
      left: 12px;
      width: 200px;
      height: 500px;
      overflow: scroll;
    }

    .side-nav {
      .nav-list-wrapper {
        border-right: 1px solid #e81e75;
        background: white;
      }

      ul {
        li {
          font-size: 15px;
          display: block;
          font-weight: 700;

          margin: 0 rhythm(1);

          .navigation__link {
            line-height: rhythm(4);
            display: inline-block;
            font-size: 12px;

            &:active {
              color: $text-color-soft;
            }

            &:hover {
              background: #ececec;
            }
          }

          .one-in {
            font-weight: 400;
          }

          .two-in {
            font-weight: 200;
          }

          &:before {
            display: none;
          }
        }

        .one-in {
          color: #494a49;
        }

        .two-in {
          color: #7d7d7d;
        }
      }
    }
  }

  .container {
    .considerations {
      margin-bottom: rhythm(10);

      .content-wrapper {
        width: 100%;
        float: left;
        padding-left: 10px;
        padding-bottom: 20px;

        h1 {
          font-size: ms(6);
          line-height: rhythm(6);
        }

        h2 {
          font-size: ms(4);
          line-height: rhythm(4);
          margin: rhythm(4) 0 rhythm(1) 0;
        }

        h3 {
          font-size: ms(3);
          line-height: rhythm(3);
          margin: rhythm(4) 0 rhythm(1) 0;
        }

        h4 {
          font-size: ms(2);
          line-height: rhythm(3);
          margin: rhythm(4) 0 rhythm(1) 0;
        }

        ul {
          margin: 0 0 rhythm(3) rhythm(2);
          padding: 0;
          list-style-type: none;

          li {
            line-height: rhythm(3);
            margin: 0 0 rhythm(1) 0;

            > p {
              margin-bottom: 0;
            }

            &:before {
              float: left;
              content: "*";
              margin-left: rhythm(-2);
              color: $brand-primary-color;
              margin-top: 0.2em;
            }
          }
        }

        ol {
          margin: 0 0 rhythm(3) rhythm(2);
          padding: 0;
          -webkit-font-feature-settings: "tnum";
          -o-font-feature-settings: "tnum";
          -moz-font-feature-settings: "tnum";
          -ms-font-feature-settings: "tnum";
          font-feature-settings: "tnum";

          li {
            line-height: rhythm(3);
            margin: 0 0 rhythm(1) 0;

            > p {
              margin-bottom: 0;
            }
          }
        }

        p {
          margin-bottom: rhythm(2);
          &:last-child {
            margin-bottom: 0;
          }
          > img {
            display: inline;
            margin-left: 30px;
          }
        }

        blockquote {
          margin: 0 0 rhythm(3) rhythm(-3.5);
          padding: rhythm(1) 0 rhythm(1) 28px;
          border-left: 2px solid $brand-primary-color;

          p {
            font-size: ms(1);
            line-height: rhythm(4);
          }
        }

        &__more {
          @include link-style;
          border-bottom: solid 2px $border-color;
        }

        img {
          display: block;
          max-width: 100%;
          height: auto;
          border-radius: 3px;
        }
      }
    }
  }

  .gutter {
    padding-left: 110px;

    @media screen and (max-width: 600px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}
