.landing {
	> .container {
		@include flexbox;
	 	@include flex-wrap(wrap);
	  @include justify-content(center);
	}

	&__content {
	  flex: 6;

	  ul {
      @extend %list-styled;

      li {
        > a:hover {
          color: $brand-primary-color;
        }
      }
    }
  }

  &__form {
	  flex: 4;
	  margin-left: $gutter-width;
  }
}