.hero-privacy {
	.hero__content {
		max-width: calc-columns-width(7);
    @include margin-center;
    @include text-center;
	}
}

.date {
	margin-bottom: rhythm(4);
	color: $text-color-soft;
}

table {
  font-size: ms(-1);
  line-height: rhythm(3);
  @extend %table;
  @extend %table-bordered;
  @extend %table-condensed;
}