.hero-clients {
  .client__logos {
    margin: rhythm(8) auto 0 auto;
  }
}

.client__logos {
  max-width: 800px;
  margin: rhythm(8) auto 0 auto;
}

.cases__list {
  margin-top: rhythm(8);
}
.smaller__wrap {
  width: 250px !important;
}
@include responsive(mobile) {
  .hero-clients .client__logos {
    margin: rhythm(4) 0;
  }
}

@media (max-width: 1200px) {
  .publication__breakpoint {
    max-width: 700px !important;
  }
}
