.job {
  padding: rhythm(11) 0 rhythm(12);
  background: $section-background-color;

  &:nth-child(2n - 1) {
    border-top: 1px solid $section-border-color;
    border-bottom: 1px solid $section-border-color;
    background: $background--white;
  }

  &:first-child {
    border-top: 0;
  }

  &:last-child {
    border-bottom: 0;
  }

  h3 {
    font-size: ms(2);
    margin-top: rhythm(5);
  }

  p:last-child {
    margin-bottom: 0;
  }

  ul {
    @extend %list-styled;
  }

  &-list {
    margin: 0 0 rhythm(3) rhythm(2);
    padding: 0;
    list-style-type: none;

    li {
      line-height: rhythm(3.5);
      margin: 0 0 rhythm(2) 0;

      > a {
        color: $link-color;
      }
    }
  }
}

.column__copy ul {
  @extend %list-styled;
}

@include responsive(tablet) {
  .job {
    padding: rhythm(8) 0;
  }
}

@include responsive(mobile) {
  .job {
    padding: rhythm(5) 0;

    h3 {
      margin-top: rhythm(3);
    }
  }
}