.section-publications {
  background: $section-background-color;
  border-top: none;
  padding-top: 0;
}

.publication {
  &__list {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(stretch);
  }

  &__wrap {
    width: calc-columns-width(3);
    margin-right: $gutter-width / 2;
    margin-bottom: rhythm(3);
    margin-left: $gutter-width / 2;
    background: white;
  }

  &__item {
    padding: rhythm(3);
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__body {
    flex: 1;

    > p {
      margin: 0;
    }
  }

  &__logo {
    margin-top: rhythm(4);
  }
}

.award {
  &__list {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(stretch);
  }

  &__item {
    width: calc-columns-width(3);
    margin-right: $gutter-width / 2;
    margin-bottom: rhythm(8);
    margin-left: $gutter-width / 2;
    text-align: center;
  }

  &__body {
    > p {
      margin-bottom: rhythm(0);
    }
  }

  &__image {
    min-height: 120px;
  }
}
