.hero-clients {
  .client__logos {
    margin: rhythm(8) 0;
  }
}

.client__logos {
  margin-top: rhythm(8);
  max-width: 1134px;

  .ts {
    img {
      width: 260px;
    }
  }

  .jl {
    img {
      width: 120px;
    }
  }

  .the-modist {
    img {
      width: 281px;
    }
  }

  .evans,
  .ovs {
    img {
      width: 115px;
    }
  }
}

.cases__list {
  margin-top: rhythm(8);
}
.smaller__wrap {
  width: 250px !important;
}
@include responsive(mobile) {
  .hero-clients .client__logos {
    margin: rhythm(4) 0;
  }
}

@media (max-width: 1200px) {
  .publication__breakpoint {
    max-width: 700px !important;
  }
}
