.video-page {
  .gutter {
    .section__heading {
      width: 100%;
      margin-bottom: 0;
    }

    .container--host {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 20px;

      .wrapper--host {
        text-align: center;

        img {
          max-width: 50%;
        }

        p {
          max-width: 50%;
          margin: 0 auto;
        }
      }
    }
  }

  ul {
    margin: 0 0 rhythm(3) rhythm(2);
    padding: 0;
    list-style-type: none;

    li {
      line-height: rhythm(3);
      margin: 0 0 rhythm(1) 0;

      > p {
        margin-bottom: 0;
      }

      &:before {
        float: left;
        content: "•";
        margin-left: rhythm(-2);
        color: $brand-primary-color;
        margin-top: 0.2em;
      }
    }
  }

  .video-wrapper {
    margin: 50px auto 100px auto;
  }
}
