.hero-case-study {
  padding: rhythm(12) 0;

  > .container {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);

    .hero__content {
      flex: 6;

      > h1 {
        font-size: ms(6);
        line-height: rhythm(6);
        margin: 0 0 rhythm(1) 0;
      }

      > h2,
      > h3 {
        font-weight: 400;
        line-height: rhythm(4);
        margin: rhythm(2) 0 rhythm(2);
      }

      > h2 {
        font-size: ms(2);
      }

      > h3,
      > h4 {
        font-size: ms(1);
      }

      > ul {
        @extend %list-styled;
      }

      .case-study__logo {
        margin: 0 0 rhythm(3) 0;
        display: block;

        &.wallis,
        &.nbrown {
          width: 140px;
        }

        &.riverisland {
          max-width: 300px;
        }
      }
    }

    .hero__form {
      flex: 4;
      margin-left: $gutter-width;
    }
  }
}

@include responsive(tablet) {
  .hero-case-study {
    padding: rhythm(8) 0;

    > .container {
      .hero__content {
        flex-basis: 100%;
      }

      .hero__form {
        flex-basis: 100%;
        margin: 0;
      }
    }
  }
}

@include responsive(mobile) {
  .hero-case-study {
    padding: rhythm(5) 0;
  }
}
