// brand colors
$brand-primary-color: #e81e75;

// text
$text-color: #333230;
$text-color-strong: #2e2d2b;
$text-color-soft: #7f7d79;

// background

$background--white: #ffffff;
$background--lighter: #f3f4f7;
$background--light: #cfd3de;
$background--dark: #444c61;
$background--darker: #191c24;

// links
$link-color: $brand-primary-color;
$link-hover-color: #cc1a64;

// UI
$border-color: #e1e1e1;

// headings
$h1-color: $text-color-strong;
$h2-color: $text-color;
$h3-color: $text-color;
$h4-color: #66625c;

// buttons
$button-primary-text-color: #ffffff;
$button-primary-background: $brand-primary-color;
$button-primary-hover-background: #d91c6b;

$button-secondary-text-color: #ffffff;
$button-secondary-hover-text-color: #ffffff;
$button-secondary-background: #191c24;
$button-secondary-border-color: #191c24;

$button-default-text-color: $text-color;
$button-default-background: transparent;
$button-default-border-color: #b3b2b1;

$input-default-border-color: $button-default-border-color;
$input-default-background-color: #ffffff;
$input-hover-border-color: #999898;

// section
$section-background-color: #f3f4f7;
$section-border-color: #e6e6e6;

// logo
$logo-fill-color: #000000;
$logo-fill-color-inverse: #ffffff;

// icons
$icon-color-border-strong: $brand-primary-color;
$icon-color-border-default: #333230;

// header
$header-hero-background-color: #f3f4f7;
$header-hero-mask-color: rgba(255, 255, 255, 0.75);
$header-dropdown-background-color: #fff;
$header-dropdown-triangle-color: #b3b2b1;
$header-mobile-nav-background-color: #f3f4f7;

// footer
$footer-background-color: $background--darker;
$footer-text-color: #d9d8d7;
$footer-text-color-soft: #8c8c8b;
$footer-heading-color: #ffffff;
