// clearfix
%clearfix {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

// buttons
%button {
  font-size: ms(-1);
  line-height: rhythm(4);
  display: inline-block;
  padding: 0 rhythm(1); // minus 1px border
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
}

%button--medium {
  @extend %button;

  font-size: ms(0);
  padding: 0px rhythm(1);
}

%button--large {
  @extend %button;

  font-size: ms(1);
  padding: 3px rhythm(2);
}

%list-styled {
  margin: 0 0 rhythm(3) rhythm(2);
  padding: 0;
  list-style-type: none;

  li {
    line-height: rhythm(3.5);
    margin: 0 0 rhythm(2) 0;

    > p {
      line-height: rhythm(3.5);
      margin-bottom: 0;
    }

    &:before {
      float: left;
      margin-top: 0.2em;
      margin-left: rhythm(-2);
      content: "*";
      color: $brand-primary-color;
    }
  }
}
