{% assign my_page_url = page.url | remove: '/' %}
{% for section in page.sections %}
{% assign handle = section.handle %}
<div class="section__body">
  {% case handle %}
  {% when 'story' %}
  <div class="features">
    {% for subsection in section.subsections %}
    <div class="feature">
      <div class="container">
        {%- if subsection.title || subsection.subtitle || subsection.body -%}
        <div class="gutter feature__copy" {% if subsection.align=='top' %}style="margin:0;padding-top:40px;" {% endif
          %}>
          <h2 class="feature__title">{{ subsection.title }}</h2>
          <div class="feature__subtitle">{{ subsection.subtitle }}</div>
          <div class="feature__body">{{ subsection.body | markdownify }}</div>
          {% if subsection.action %}<a href="{{ subsection.action.url }}"
            class="button button-{{ subsection.action.style | default: 'secondary' }}">{{ subsection.action.copy
            }}</a>{% endif %}
        </div>
        {%- endif -%}

        {% unless subsection.number-up %}
        {% unless subsection.class == "challenge" %}
        {%- if subsection.image -%}
        <div class="gutter feature__image">
          <div>
            <!-- keep flex image ratio -->
            <img src="{{ subsection.image }}" alt="{{ subsection.title }}" {% if subsection.hres-image
              %}srcset="{{ subsection.hres-image }} 2x" {% endif %} class="feature__image" />
          </div>
        </div>
        {%- endif -%}
        {% endunless %}
        {% endunless %}
        {%- if subsection.image-line_col -%}
        <div class="gutter feature__image">
          <div class="feature__image_line">
            {%- for im in subsection.image-line_col -%}
            <img src="{{ im }}" alt="{{ subsection.title }}" class="feature__image" />
            {%- endfor -%}
          </div>
        </div>
        {%- endif -%}
        {% if subsection.number-up %}
        <div class="benefit__container-case-study gutter feature__image">
          <div class="platform__description">
            <p class="benefit__number">
              <span class="number">{{ subsection.number-up }}</span>
              <span class="percentage-sign">{{ subsection.value-up }}</span>
            </p>
            <p class="benefit__description">{{ subsection.number-up-description }}</p>
          </div>
          <div class="platform__description">
            <p class="benefit__number">
              <span class="number">{{ subsection.number-down }}</span>
              <span class="percentage-sign">{{ subsection.value-down }}</span>
            </p>
            <p class="benefit__description">{{ subsection.number-down-description }}</p>
          </div>
        </div>
        {% endif %}

        {%- if subsection.number-aside -%}
        <div class="platform__description aside">
          <p class="benefit__number">
            <span class="number">{{ subsection.number-aside.number-line }}</span>
            <span class="percentage-sign">{{ subsection.number-aside.value-line }}</span>
          </p>
          <p class="benefit__description">{{ subsection.number-aside.number-line-description }}</p>
        </div>
        {%- endif -%}

      </div>
      {%- if subsection.image-line -%}
      <div class="gutter feature__image">
        <div
          class="{% if subsection.image-line.size == 1 %}feature__image_single{% else %}feature__image_line{% endif %}">
          {%- for im in subsection.image-line -%}
          <img src="{{ im }}" alt="{{ subsection.title }}" class="feature__image" />
          {%- endfor -%}
        </div>
      </div>
      {%- endif -%}

      {% if subsection.quote %}
      <div class="container box-quote gutter text--center" style="max-width: 760px; padding-top: 20px; padding-bottom: 20px">
        <blockquote class="quote">{{ subsection.quote }} </blockquote>
        <p class="author">{{ subsection.author }} </p>
        {%- if subsection.button -%}
        <a class="button button--medium button-primary" href="{{ subsection.file }}" target="_blank">
          {{ subsection.button }}
        </a>
        {%- endif -%}
      </div>
      {% endif %}
      {%- if subsection.contact-title -%}
      <div class="success-story-contact" {% if subsection.bg %}style="background: {{subsection.bg}};"{% endif %}>
        <div class="container text--center">
          <div class="section__body">
            <div class="container gutter">
              <p style="text-align: center; max-width: 600px; margin-left: auto; margin-right: auto;">{{
                subsection.contact-title }}</p>
            </div>
            <a href="{{ subsection.button.url }}" class="button button--medium button-primary">{{ subsection.button.copy
              }}</a>
          </div>
        </div>
      </div>
      {%- endif -%}
    </div>

    {%- for nb in subsection.number-boxes -%}
    <div class="benefit__container-case-study number-line gutter">
      {%- for item in nb.number-lines -%}
      <div class="platform__description">
        <p class="benefit__number">
          <span class="number">{{ item.number-line }}</span>
          <span class="percentage-sign">{{ item.value-line }}</span>
        </p>
        <p class="benefit__description">{{ item.number-line-description }}</p>
      </div>
      {%- endfor -%}
    </div>

    {% if nb.body %}
    <div class="container">
      <div class="gutter feature__copy">
        <div class="feature__body" style="max-width: 652px; margin: 80px 0">
          {{ nb.body | markdownify }}
        </div>
      </div>
    </div>
    {% endif %}

    {% if nb.quote %}
    <div class="container gutter text--center">
      <blockquote class="quote">{{ nb.quote }} </blockquote>
      <p class="author">{{ nb.author }} </p>
    </div>
    {% endif %}
    {%- endfor -%}
    {% endfor %}

  </div>

  {% when 'contact' %}
  <!-- section footer group -->
  <div class="success-story-contact">
    <div class="container gutter text--center section ">
      <div class="section__body">
        <div class="container gutter">
          <hgroup class="container gutter section__heading">
            <h2>{{ section.contact-title }}</h2>
          </hgroup>
        </div>
      </div>
      <a href="{{ section.button.url }}" class="button button--medium button-primary">{{ section.button.copy }}</a>
    </div>
  </div>
  {% endcase %}
</div>
{% endfor %}