<footer class="site-footer">
  <div class="container">
    <div class="gutter site-footer__logo">
      <a href="{{ site.baseurl }}/">{% include svgs/logo.svg %}</a>
    </div>
    <nav class="site-footer__nav">
      <div class="site-footer__cols">
        <div class="gutter site-footer__col">
          {% assign footer_links = site.pages | where: 'footer',
            'platform' | sort: 'position' %} {% for link in footer_links
            %}
          <a href="{{ link.url }}" class="{{ link.title }}"><h3 class="site-footer__col-title">Platform</h3></a>
          {% endfor %}
        </div>
        <div class="gutter site-footer__col">
          <h3 class="site-footer__col-title">Solutions</h3>
          <ul>
            {% assign footer_links = site.pages | where: 'navigation',
            'solution-footer' | sort: 'position' %} {% for link in footer_links
            %}
            <li class="footer-solutions-list"><a href="{{ link.url }}" class="{{ link.title }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="gutter site-footer__col">
          {% assign footer_links = site.pages | where: 'footer',
          'customer' | sort: 'position' %} {% for link in footer_links
          %}
          <a href="{{ link.url }}" class="{{ link.title }}"><h3 class="site-footer__col-title">Customers</h3></a>
          {% endfor %}
        </div>
        <div class="gutter site-footer__col">
          <h3 class="site-footer__col-title">Resources</h3>
          <ul>
            {% assign footer_links = site.pages | where: 'navigation',
            'resource-footer' | sort: 'footer-position' %} {% for link in
            footer_links %}
            <li><a href="{{ link.url }}" class="{{ link.title }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="gutter site-footer__col">
          <h3 class="site-footer__col-title">Company</h3>
          <ul>
            {% assign footer_links = site.pages | where: 'navigation',
            'about-footer' | sort: 'position' %} {% for link in footer_links
            %}
            <li><a href="{{ link.url }}" class="{{ link.title }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- <div class="gutter site-footer__col">
          <h3 class="site-footer__col-title">Connect</h3>
          <ul>
            {% for social in site.social.links %}
            <li><a href="{{ social.link }}">{{ social.name }}</a></li>
            {% endfor %}
          </ul>
        </div> -->
      </div>
      {% assign meta_links = site.pages | where: 'navigation', 'meta' | sort:
      'position' %}
      <div class="gutter site-footer__copyright">
        &copy;&nbsp;{{ 'now' | date: "%Y" }}, Stylemania Ltd&nbsp;—&nbsp;{% for
        meta_link in meta_links %}
        {% unless meta_link.type %}
        <a class="with-mdash" href="{{ meta_link.url }}">{{ meta_link.title }}</a>
        {% endunless %}       
        {% if meta_link.type %}
        <a href="{{ meta_link.social-link }}"><div class="{{ meta_link.class }} footer-social-logo"></div></a>
        {% endif %}
         {% endfor %}
      </div>
    </nav>
  </div>
</footer>
