<div class="form-download gutter feature__form">
  <hgroup class="form-download__heading">
    <h3>{{include.title}}</h3>
  </hgroup>

  <form class="form-download__form" method="POST" action="https://formspree.io/meajnovm">
    <input type="text" name="_gotcha" style="display: none">
    <input type="hidden" name="_next" value="{{ site.form-learn.redirect }}" />
    <input type="hidden" name="_subject" value="Learn Request" />
    <input type="text" class="form-download__input" name="name" placeholder="Name" required>
    <input type="email" class="form-download__input" name="email" placeholder="Email" required>
   <!--  <input type="text" class="form-download__input" name="job title" placeholder="Job Title">
    <input type="text" class="form-download__input" name="company" placeholder="Company" required> -->

    <button class="button button--large button-primary form-download__submit" type="submit">
      {{ site.form-learn.button }}
    </button>
  </form>
</div>
