<head>
  {% if site.gtm-code %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ site.gtm-code }}');</script>
  <!-- End Google Tag Manager -->
  {% endif %}
  <!-- Drift -->
  <script>
  !(function() {
  var t;
  if (((t = window.driftt = window.drift = window.driftt || []), !t.init))
    return t.invoked
      ? void (
          window.console &&
          console.error &&
          console.error("Drift snippet included twice.")
        )
      : ((t.invoked = !0),
        (t.methods = [
          "identify",
          "config",
          "track",
          "reset",
          "debug",
          "show",
          "ping",
          "page",
          "hide",
          "off",
          "on"
        ]),
        (t.factory = function(e) {
          return function() {
            var n;
            return (
              (n = Array.prototype.slice.call(arguments)),
              n.unshift(e),
              t.push(n),
              t
            );
          };
        }),
        t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }),
        (t.load = function(t) {
          var e, n, o, i;
          (e = 3e5),
            (i = Math.ceil(new Date() / e) * e),
            (o = document.createElement("script")),
            (o.type = "text/javascript"),
            (o.async = !0),
            (o.crossorigin = "anonymous"),
            (o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js"),
            (n = document.getElementsByTagName("script")[0]),
            n.parentNode.insertBefore(o, n);
        }));
})();
drift.SNIPPET_VERSION = "0.3.1";
drift.load("if6cxigczbsd");

drift.on("ready", api => {
  if (
    window.location.href == "https://dressipi.com/privacy/" ||
    window.location.href == "https://dressipi.com/cookies/" ||
    window.location.href == "https://dressipi.com/terms-and-conditions/"
  ) { $('#drift-widget-container').css( "display", "none" )}
  });

</script>
  <!-- End Drift -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Load Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
  <link href="{{ "/css/main.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="{{ "/feed.xml" | prepend: site.url }}">
  {% seo %}
  <meta name="msvalidate.01" content="83A7D378677C4F4102B969411E92A925" />
</head>
