{% assign my_page_url = page.url | remove: '/' %}
<header role="banner">
  <div class="header-wrapper">
    <div class="header">
      <div class="container gutter">
        <a href="{{ site.baseurl }}/" class="header__logo">{% include svgs/logo.svg %}</a>
        <div class="header__navigation">
        {% if my_page_url contains 'blog' %}
        <nav role="navigation" class="navigation">
          {% assign category_links = site.blog_categories %}
          <ul class="navigation_items">
             <li class="navigation__item"><a href="/blog/" class="navigation__link {% if my_page_url == 'blog' %}navigation__link--active{% endif %}"">Latest Articles</a></li>
            {% for link in category_links %}
              <li class="navigation__item"><a href="{{ link.url }}" class="navigation__link {% if page.url == link.url %}navigation__link--active{% endif %}"">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
          <form class="subscribe-form" method="POST" action="https://formspree.io/{{ site.form-newsletter.formspree-ID }}">
            <input type="text" name="_gotcha" style="display: none">
            {% if site.form-newsletter.email_cc %}
            <input type="hidden" name="_cc" value="{{site.form-newsletter.email_cc}}" />
            {% endif %}
            <input type="hidden" name="_next" value="{{ site.form-newsletter.redirect }}" />
            <input type="hidden" name="_subject" value="New Newsletter Submission" />
            <input class="subscribe-form__email" type="email" name="Email" placeholder="Enter your email" />
            <button class="subscribe-form__submit button button-primary" type="submit">{{ site.form-newsletter.button }}</button>
          </form>
        </nav>
        {% else %}
        <nav role="navigation" class="navigation">
          <ul class="navigation_items">
            {% assign header_links = site.pages | where: 'navigation', 'header' | sort: 'position' %}
            {% for link in header_links %}
              {% if link.has-menu %}
                <li class="navigation__item navigation-dropdown">
                  <span class="navigation-dropdown__trigger {% if page.url contains link.url %}navigation-dropdown__trigger--active{% endif %}">{{ link.title }}</span>
                  {% if link.title == 'Solutions' %}
                  {% include partials/navigation.html context='/solutions/' %}
                  {% endif %}
                  {% if link.title == 'Resources' %}
                  {% include partials/navigation.html context='/resources/' %}
                  {% endif %}
                  {% if link.title == 'About' %}
                  {% include partials/navigation.html context='/about/' %}
                  {% endif %}
                  {% if link.title == 'Customers' %}
                  {% include partials/navigation.html context='/customers/' %}
                  {% endif %}
                </li>
                {% else %}
                <!-- <li class="navigation__item"><a href="{{ link.url }}" class="navigation__link {% if page.url == link.url %}navigation__link--active{% endif %}"">{{ link.title }}</a></li> -->
              {% endif %}
            {% endfor %}
            <!-- Resources Dropdown Menu -->
            {% unless page.layout == 'landing'%}
              {% unless page.layout == 'privacy' %}
            <li class="navigation__item"><a href="/contact" class="button {% if my_page_url == '' %}button-default{% else %}button-primary{% endif %} navigation__button" title="Schedule A Free Consultation">Free Consultation</a></li>
            {% endunless %}
            {% endunless %}
          </ul>
        </nav>
        {% endif %}
        <button class="header-mobile-button">
          {% include svgs/menu.svg %}
          {% include svgs/cross.svg %}
        </button>
      </div>
      </div>
    </div>
  </div>
  {% unless page.exclude-hero or page.includes-video %}
  <div class="hero{% if page.header.height =='tight' or my_page_url contains 'blog' or my_page_url contains 'resources' %} hero--tight{% endif %}{% unless my_page_url == '' %} hero-content {{ my_page_url | prepend: "hero-"}}{% endunless %}{% if page.header.hero-image %} hero--mobile{% endif %}" style="background: {% if page.header.hero-image %}linear-gradient(to left, rgba(255, 255, 255, 0) 30%, {{ page.header.color | default: '#f5f5f5' }} 50%), url({{ page.header.hero-image }}) no-repeat right{% else if page.header.color %}{{ page.header.color | default: '#F8F8F8' }}{% endif %};">
    <div class="container gutter landing{% if my_page_url contains 'new-updated-dressipi' %}{% endif %}">
      <div class="hero__content{% if page.header.width %}{{ page.header.width | prepend: '--' }}{% endif %}{% if my_page_url contains 'blog' %}--extend{% endif %}">
        {% if my_page_url contains 'author' and page.image %}
          <img src="{{ page.image }}" title="{{ page.title }}" class="thumb thumb--rounded"/>
        {% endif %}
        <h1 class="header__title">{{ page.header.title | default: page.title }}</h1>
        {% if my_page_url contains 'author' and page.twitter %}
        <h4><a href="http://twitter.com/{{ page.twitter }}" target="_blank"><img class="twitter-logo" src="/assets/twitter.png">   {{ page.twitter }}</a></h4>
        {% endif %}
        {% if page.header.body %}
        <div class="header__subtitle">{{ page.header.body | markdownify }}</div>
        {% endif %}
        {% if my_page_url == 'customers' %}

      <!-- client logo slider -->
        <div id="slider">
          {% assign site_clients = site.clients | sort:'position' %}
          {% for client in site.clients %}
          {% if page.header.clients contains client.title %}
          <img
            src="{{ client.logo }}"
            class="client__logo {{ client.class }}"
            alt="{{ client.title }}"
          />
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        {% if my_page_url contains 'new-updated-dressipi'%}
        <!-- client logo slider -->
        <div id="slider">
          {% assign site_clients = site.clients | sort:'position' %}
          {% for client in site.clients %}
          {% if page.header.clients contains client.title %}
          <img
            src="{{ client.logo }}"
            class="client__logo {{ client.class }}"
            alt="{{ client.title }}"
          />
          {% endif %}
          {% endfor %}
        </div>
       </br>
        {% endif %}
        {% unless page.header.button.copy == nil %}
        <div class="header__button-group">
          <a href="{{ page.header.button.url }}" class="header__button button-{{ page.header.button.style | default: 'primary' }} anchor-link">{{ page.header.button.copy }}</a>
          {% if page.header.link %}<a href="{{ page.header.link.url }}" class="header__link anchor-link">{{ page.header.link.copy }}</a>{% endif %}
        </div>
        {% endunless %}
      </div>
    </div>
  </div>
  {% endunless %}
</header>
