<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Start Google Tag Manager -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11668082-32"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());
   gtag('config', 'UA-11668082-32');
  </script>
  <!-- End Google Tag Manager -->

  <!-- Start ZoomInfo tracker -->
  <script>
    (function () {
      var zi = document.createElement('script');
      zi.type = 'text/javascript';
      zi.async = true;
      zi.referrerPolicy = 'unsafe-url';
      zi.src = 'https://ws.zoominfo.com/pixel/621f8ba7fc86680013114458';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(zi, s);
    })();
  </script>
  <!-- End ZoomInfo tracker -->

 
  <!-- Start Slick carousel-->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous"
  />
  <!-- End Slick carousel-->

  <!-- Start Google fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap"
    rel="stylesheet"
  />
  <!-- End Google fonts -->

  <!-- Start Favicon -->
  <link
    rel="apple-touch-icon-precomposed"
    sizes="57x57"
    href="/uploads/favicon-apple-touch-114.png"
  />

  <link
    rel="apple-touch-icon-precomposed"
    sizes="114x114"
    href="/uploads/favicon-apple-touch-114.png"
  />

  <link
    rel="apple-touch-icon-precomposed"
    sizes="72x72"
    href="/uploads/favicon-apple-touch-144.png"
  />

  <link
    rel="apple-touch-icon-precomposed"
    sizes="144x144"
    href="/uploads/favicon-apple-touch-144.png"
  />

  <link
    rel="icon"
    type="image/vnd.microsoft.icon"
    sizes="32x32 48x48"
    href="/uploads/favicon.ico"
  />
  <link rel="icon" sizes="128x128" href="/uploads/favicon.icns" />
  <link rel="icon" href="/uploads/favicon.png" type="image/x-icon" />
  <!-- End Favicon -->

  <link href="{{ "/css/main.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet">

   <!-- Start SEO -->
   {% seo %}
  <!-- End SEO -->

  <!-- Start Bing site validation -->
  <meta name="msvalidate.01" content="83A7D378677C4F4102B969411E92A925" />
  <!-- End Bing site validation -->

  <!-- Start Hotjar Tracking Code for https://dressipi.com/ -->
  <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3133078,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <!-- End Hotjar Tracking Code -->
</head>
