{% assign my_page_url = page.url | remove: '/' %}
<header role="banner">
  <div class="header">
    <div class="container gutter">
      <a href="{{ site.baseurl }}/" class="header__logo">{% include svgs/logo.svg %}</a>
      <nav role="navigation" class="navigation">
        <ul class="navigation_items">
          {% assign header_links = site.pages | where: 'navigation', 'header' | sort: 'position' %}
          {% for link in header_links %}
            {% if link.has-menu %}
              <li class="navigation__item navigation-dropdown">
                <span class="navigation-dropdown__trigger {% if page.url contains link.url %}navigation-dropdown__trigger--active{% endif %}">{{ link.title }}</span>
                {% include partials/navigation.html context='/solutions/' %}
              </li>
            {% else %}
              <li class="navigation__item"><a href="{{ link.url }}" class="navigation__link {% if page.url == link.url %}navigation__link--active{% endif %}"">{{ link.title }}</a></li>
            {% endif %}
          {% endfor %}
          <li class="navigation__item"><a href="/contact" class="button {% if my_page_url == '' %}button-default{% else %}button-primary{% endif %} navigation__button" title="Book a Demo">Book a Demo</a></li>
        </ul>
      </nav>
      <button class="header-mobile-button">
        {% include svgs/menu.svg %}
        {% include svgs/cross.svg %}
      </button>
    </div>
  </div>
  <div class="hero{% unless my_page_url == '' %} hero--tight{% if page.layout == 'page' or page.layout == 'contact' %}er{% endif %} {{ my_page_url | prepend: "hero-"}}{% endunless %}" style="background: {% if page.header.hero-image %}linear-gradient(to left, transparent 30%, {{ page.header.color | default: '#f5f5f5' }} 50%), url({{ page.header.hero-image }}) no-repeat right{% else if page.header.color %}{{ page.header.color | default: '#F8F8F8' }}{% endif %};">
    <div class="container gutter">
      <div class="hero__content{% if page.header.width %}{{ page.header.width | prepend: '--' }}{% endif %}">
        <h1 class="header__title">{{ page.header.title | default: page.title }}</h1>
        {% if page.header.body %}
          <div class="header__subtitle">{{ page.header.body | markdownify }}</div>
        {% endif %}

        {% if my_page_url == 'partners' %}
        <ul class="client__logos">
        {% assign site_clients = site.clients | sort:'position' %}
        {% for client in site_clients %}
          {% if page.header.clients contains client.title %}
            <li class="gutter client__logo"><img src="{{ client.image }}" class="" alt="{{ client.title }}" /></li>
          {% endif %}
        {% endfor %}
        </ul>
        {% endif %}

        {% if page.header.button %}
          <div class="header__button-group">
            <a href="{{ page.header.button.url }}" class="header__button button-{{ page.header.button.style | default: 'primary' }} anchor-link">{{ page.header.button.copy }}</a>
            {% if page.header.link %}<a href="{{ page.header.link.url }}" class="header__link anchor-link">{{ page.header.link.copy }}</a>{% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>
