{% assign my_page_url = page.url | remove: '/' %}
<header >
  <div class="header-wrapper">
    <div class="header">
      <div class="container gutter">
        <a href="{{ site.baseurl }}/" class="header__logo">{% include svgs/logo.svg %}</a>
        <div class="header__navigation">
        <nav class="navigation">
          <ul class="navigation_items">
            {% assign header_links = site.pages | where: 'navigation', 'header' | sort: 'position' %}
            {% for link in header_links %}
            {% if link.has-menu == false %}
            <li class="navigation__item navigation-dropdown">
              <a href="{{ link.url }}" class="navigation__link">
                <span class="navigation-no-dropdown__trigger">{{ link.title }}</span>
              </a>
            </li>
            {% endif %}

            
              {% if link.has-menu %}
                <li class="navigation__item navigation-dropdown">
                  <span class="navigation-dropdown__trigger {% if page.url contains link.url %}navigation-dropdown__trigger--active{% endif %}">{{ link.title }}</span>
                  {% if link.title == 'Solutions' %}
                  {% include partials/navigation.html context='/solutions/' %}
                  {% endif %}
                  {% if link.title == 'Resources' %}
                  {% include partials/navigation.html context='/resources/' %}
                  {% endif %}
                  {% if link.title == 'Company' %}
                  {% include partials/navigation.html context='/company/' %}
                  {% endif %}
                  {% if link.title == 'Customers' %}
                  {% include partials/navigation.html context='/clients/' %}
                  {% endif %}
                </li>
        
              {% endif %}
            {% endfor %}
            <!-- Resources Dropdown Menu -->
            {% unless page.layout == 'landing'%}
              {% unless page.layout == 'privacy' %}
            <li class="navigation__item"><a href="/company/demo/" class="button button-primary navigation__button" title="Book a Demo">Book a Demo ></a></li>
            {% endunless %}
            {% endunless %}
          </ul>
        </nav>
        <button class="header-mobile-button">
          {% include svgs/menu.svg %}
          {% include svgs/cross.svg %}
        </button>
      </div>
      </div>
    </div>
  </div>

  {% unless page.exclude-hero or page.includes-video %}
  <div class="hero{% if page.header.height =='tight' or my_page_url contains 'blog' or my_page_url contains 'resources' %} hero--tight{% endif %}{% unless my_page_url == '' %} hero-content {{ my_page_url | prepend: "hero-" }}{% endunless %} {% if page.header.hero-image %} hero--mobile{% endif %} {% if my_page_url == '' %}index{% endif %} {% if my_page_url == 'platform' %}platform{% endif %}" style="background: {% if page.header.hero-image %}{{ page.header.color | default: '#F3F4F7' }} url({{ page.header.hero-image }}) no-repeat 74% {% else if page.header.color %}{{ page.header.color | default: '#F3F4F7' }}{% endif %};">
    <div class="container gutter landing{% if my_page_url contains 'new-updated-dressipi' %}{% endif %}{% if page.header.hero_form %} hero__flex{% endif %}">
      <div class="hero__content {% if page.header.width %}{{ page.header.width | prepend: '--' }}{% endif %}{% if my_page_url contains 'blog' %}--extend{% endif %}">
        {% if my_page_url contains 'author' and page.image %}
          <img src="{{ page.image }}" title="{{ page.title }}" class="thumb thumb--rounded"/>
        {% endif %}
        {% if page.header.page-title %}
        <div class="banner-page-title-wrapper">
          <img src="{{ page.header.page-title-icon }}" title="{{ page.header.page-title}}" class="banner-page-title-icon"/>
        <p class="banner-page-title">{{page.header.page-title}}</p>
        </div>
        {% endif %}
        {% if page.type != 'customer' %}
        {% if page.type != 'platform' %}
        <div class={{ page.header.class }}>
        <h1 class="header__title">{{ page.header.title | default: page.title }}</h1>
        {% endif %}
        {% if my_page_url contains 'author' and page.twitter %}
        <h4><a href="http://twitter.com/{{ page.twitter }}" target="_blank"><img class="twitter-logo" src="/assets/twitter.png">   {{ page.twitter }}</a></h4>
        {% endif %}
        {% if page.header.body %}
        <div class="header__subtitle">{{ page.header.body | markdownify }}</div>
        {% endif %}
        {% if page.header.description %}
        <div class="header__description">{{ page.header.description | markdownify }}</div>
      </div>
        {% endif %}
        {% endif %}

        {% if my_page_url == 'clients' %}

      <!-- client logo slider -->
        <div class="slider">
          {% assign site_clients = site.clients | sort:'position' %}
          {% for client in site.clients %}
          {% if page.header.clients contains client.title %}
          <div class="client__logo_wrapper {{ client.class }}">
          <img
            src="{{ client.logo }}"
            class="client__logo"
            alt="{{ client.title }}"
          />
          </div>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        {% if my_page_url contains 'new-updated-dressipi'%}
        <!-- client logo slider -->
        <div class="slider">
          {% assign site_clients = site.clients | sort:'position' %}
          {% for client in site.clients %}
          {% if page.header.clients contains client.title %}
          <div class="client__logo_wrapper {{ client.class }}">
            <img
              src="{{ client.logo }}"
              class="client__logo"
              alt="{{ client.title }}"
            />
            </div>
          {% endif %}
          {% endfor %}
        </div>
       </br>
        {% endif %}
        {% unless page.header.button.copy == nil %}
        <div class="header__button-group">
          <a href="{{ page.header.button.url }}" class="header__button button-{{ page.header.button.style | default: 'primary' }} anchor-link">{{ page.header.button.copy }}</a>
          {% if page.header.link %}<a href="{{ page.header.link.url }}" class="header__link anchor-link">{{ page.header.link.copy }}</a>{% endif %}
        </div>
        {% endunless %}
      </div>

      {% if page.header.hero_form -%}
      {%- assign form = page.header.hero_form -%}
      {%- assign title = page.header.hero_form_title -%}
        {% include {{form}} title=title %}
      {% endif %}

      {% if page.header.hero-image == false %}
      <div class="case-study__banner">
        <div class="case-study__wrap">
          <div class="case-study">
            <div class="case-study__header">
              <div class="case-study__logo "><img src="/uploads/logo_river-island.svg" /></div>
            </div>
            <div class="case-study__image"><img src="/uploads/success-story_river-island@2x.jpg" /></div>
            <div class="case-study__footer"><a href="/downloads/success-story-river-island/" class="button button-secondary">Read The Full Story ></a></div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% endunless %}
</header>
