---
layout: default
---

{% for section in page.sections %}
{% assign handle = section.handle %}
<section id="{{ handle }}" class="section {% if handle %}{{ section.handle | prepend: 'section-' | append: ' ' }}{% endif %}background--{{ section.color | default:'white' }}">
	<!-- section heading group -->
  <hgroup class="container gutter section__heading">
    {% if section.title %}<h3>{{ section.title }}</h3>{% endif %}
    {% if section.subtitle %}<h4>{{ section.subtitle }}</h4>{% endif %}
  </hgroup>

	<!-- section content group -->
  <div class="section__body">
	  {% case handle %}
	  {% when 'intro' %}
	  <div class="container{% if section.width %}{{ section.width | prepend: '--' }}{% endif %} gutter">
		  {{ section.body | markdownify }}
	  </div>

    <div class="video-wrapper" id="youtube">
      <div class="video-responsive">
        <div class="video yt-about"> <iframe width="560" height="315" src="https://www.youtube.com/embed/TeiYCSVS1HQ?rel=0&showinfo=0&color=white&showinfo=0&color=white" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>

	  {% when 'why-us' %}
	  <div class="container proofs">
	  	<div class="multi-columns {% if section.columns %}span-{{ section.columns | default: '2' }}{% endif %}">
			{% for subsection in section.subsections %}
				<div class="gutter column">
					<div class="column__copy">
						<h3>{{ subsection.title }}</h3>
						{{ subsection.body | markdownify }}
					</div>
          {% unless subsection.link.copy == nil %}
          <div class="header__button-group">
            {% if subsection.link %}<a href="{{ subsection.link.url }}" class="header__link anchor-link">{{ subsection.link.copy }}</a>{% endif %}
          </div>
          {% endunless %}
				</div>
			{% endfor %}
			</div>
	  </div>
    {% when 'press' %}
     <ul class="publication__list container publication__breakpoint">
     {% for publication in section.publications %}
     <li class="publication__wrap smaller__wrap">
         <div class="publication__item">
           <div class="publication__body">
             <p>{{ publication.title }}</p>
           </div>
           {% if publication.image %}
           <div class="publication__logo">
             <div><!-- keep flex image ratio -->
             {% if publication.url %}<a href="{{ publication.url }}" target="_blank">{% endif %}<img src="{{ publication.image }}" alt="{{ publication.title }}" />{% if publication.url %}</a>{% endif %}
             </div>
           </div>
           {% endif %}
         </div>
       </li>
     {% endfor %}
     </ul>
	  {% when nil %}
	  <div class="container{% if section.width %}{{ section.width | prepend: '--' }}{% endif %} gutter">
		  {{ section.body | markdownify }}
	  </div>
	  {% endcase %}
  </div>

  {% if section.button %}
  <!-- section footer group -->
  <div class="container gutter text--center">
  	<a href="{{ section.button.url }}" class="button button--large button-{{ section.button.style | default: 'secondary' }}">{{ section.button.copy }}</a>
  </div>
  {% endif %}
</section>
{% endfor %}
