---
layout: default
---

{% assign my_page_url = page.url | remove: '/' %}
<header >
  <div class="header">
    <div class="container gutter">
      <a href="{{ site.baseurl }}/" class="header__logo">{% include svgs/logo.svg %}</a>
      <div class="header__navigation">
        <nav class="navigation">
          <ul class="navigation_items">
            {% assign header_links = site.pages | where: 'navigation', 'header' | sort: 'position' %}
            {% for link in header_links %}
            {% if link.has-menu %}
            <li class="navigation__item navigation-dropdown">
              <span
                class="navigation-dropdown__trigger {% if page.url contains link.url %}navigation-dropdown__trigger--active{% endif %}">{{
                link.title }}</span>
              {% if link.title == 'Solutions' %}
              {% include partials/navigation.html context='/solutions/' %}
              {% endif %}
              {% if link.title == 'Resources' %}
              {% include partials/navigation.html context='/resources/' %}
              {% endif %}
              {% if link.title == 'About' %}
              {% include partials/navigation.html context='/about/' %}
              {% endif %}
              {% if link.title == 'Clients' %}
              {% include partials/navigation.html context='/clients/' %}
              {% endif %}
            </li>
            {% else %}
            <!-- <li class="navigation__item"><a href="{{ link.url }}" class="navigation__link {% if page.url == link.url %}navigation__link--active{% endif %}"">{{ link.title }}</a></li> -->
            {% endif %}
            {% endfor %}
            <li class="navigation__item">
              <a href="/contact" class="button button-primary navigation__button"
                title="Schedule A Free Consultation">Free Consultation ></a>
              </li>
            <!-- Resources Dropdown Menu -->
          </ul>
        </nav>
        <button class="header-mobile-button">
          {% include svgs/menu.svg %}
          {% include svgs/cross.svg %}
        </button>
      </div>
    </div>
  </div>

  {% if page.header.case-study-header == true %}
  <div class="hero hero-content">
    <div class="container gutter">
      <div class="hero__content">
        <div class="banner-page-title-wrapper">
          <img src="{{ page.header.page-title-icon }}" title="{{ page.header.page-title}}"
            class="banner-page-title-icon" />
          <p class="banner-page-title">{{page.header.page-title}}</p>
        </div>
        {% if page.header.body %}
        <h1 class="header__subtitle">{{ page.header.body }}</h1>
      </div>
      {% endif %}
      <div class="case-study__banner">
        <div class="case-study__wrap">
          <div class="case-study">
            <div class="case-study__header">
              <div class="case-study__logo {{ page.testimonial.class }}">
                <img src="{{ page.testimonial.logo }}" />
              </div>
            </div>
            <div class="case-study__image"> <img src="{{ page.testimonial.author.image }}" />
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  </div>
  </div>
</header>

{% include partials/case-study.html %}