---
layout: default
---

{% assign my_page_url = page.url | remove: '/' %}
<section role="banner">
  <div class="hero hero-case-study">
    <div class="container gutter">
      <div class="hero__content">
      {% if page.testimonial.logo %}
        <div class="case-study__logo {{ page.testimonial.class }}"><img src="{{ page.testimonial.logo }}" /></div>
      {% endif %}
      {% assign downloads = site.downloads | sort:'position' %}
      {% for download in downloads %}
        {% if section.downloads contains download.title %}
        <li class="case-study__wrap">
          <div class="case-study">
            <div class="case-study__header">
              {% if download.testimonial.logo %}<div class="case-study__logo {{  page.testimonial.class }}"><img src="{{ download.testimonial.logo }}" /></div>{% endif %}
            </div>
            <div class="case-study__image"><img src="{{ download.testimonial.author.image }}" /></div>
            <div class="case-study__body"><p>{{ download.testimonial.body }}</p></div>
            <div class="case-study__footer"><a href="{{ download.url }}" class="button button-secondary">{{ download.testimonial.action }}</a></div>
          </div>
        </li>
        {% endif %}
      {% endfor %}
      {{ content }}
      </div>
    </div>
  </div>
</section>
