---
layout: default
---

{% assign category = page.title | downcase %}
{% assign category_posts = site.categories[category] %}

<section class="section section-blog">
	{% include partials/blog-nav.html %}
  <div class="container">
  	<div class="blog__content gutter">
			{% for post in category_posts %}
  			{% include partials/post.html post=post is_excerpt=true show_author=true %}
			{% endfor %}

			{% if category_posts == nil %}
				<h3>There are no articles in the category {{ category }} yet.</h3>
			{% endif %}
		</div>

	  {% include partials/sidebar-blog.html %}
	</div>
</div>