---
layout: default
---

<section class="section section-considerations">
  <div class="nav-wrapper waypoint">
    <nav class="side-nav sticky-side-nav">
      <div class="nav-list-wrapper">
        <ul>
      <li class="nav-list navigation__item">
        <a href="#Security" class="anchor-link-privacy navigation__link">Security</a>
      </li>
      <li class="nav-list navigation__item">
        <a href="#Subdomains" class="anchor-link-privacy navigation__link">Subdomains</a>
      </li>
      <li class="nav-list navigation__item">
        <a href="#ProductFeed" class="anchor-link-privacy navigation__link">Product Feed</a>
      </li>
      <li class="nav-list navigation__item">
        <a href="#TransactionData" class="anchor-link-privacy navigation__link">Transaction Data</a>
      </li>
      <li class="nav-list navigation__item">
        <a href="#TrackingAnalytics" class="anchor-link-privacy navigation__link">Tracking & Analytics</a>
        <ul>
          <li class="nav-list navigation__item one-in">
            <a href="#ForDressipi" class="anchor-link-privacy navigation__link">For Dressipi</a>
            <ul>
              <li class="nav-list navigation__item two-in">
                <a href="#ProductPage" class="anchor-link-privacy navigation__link">Product Page</a>
              </li>
              <li class="nav-list navigation__item two-in">
                <a href="#OrderconfirmationPage" class="anchor-link-privacy navigation__link">Order confirmation Page</a>
              </li>
            </ul>
          </li>
          <li class="nav-list navigation__item one-in">
            <a href="#ForRetailers" class="anchor-link-privacy navigation__link">For Retailers</a>
          </li>
        </ul>
      </li>
      <li class="nav-list navigation__item">
        <a href="#UserIdentity" class="anchor-link-privacy navigation__link">User Identity</a>
      </li>
      <li class="nav-list navigation__item">
        <a href="#Email" class="anchor-link-privacy navigation__link">Email</a>
        <ul>
          <li class="nav-list navigation__item one-in">
            <a href="#Productrecommendationemails" class="anchor-link-privacy navigation__link long-text">Product recommendation emails</a>
            <ul>
              <li class="nav-list navigation__item two-in">
                <a href="#Filebasedemails" class="anchor-link-privacy navigation__link">File based emails</a>
              </li>
              <li class="nav-list navigation__item two-in">
                <a href="#Imagebasedemails" class="anchor-link-privacy navigation__link">Image based emails</a>
              </li>
            </ul>
            <li class="nav-list navigation__item two-in">
              <a href="#DressipiManagedemails" class="anchor-link-privacy navigation__link">Dressipi Managed emails</a>
            </li>
          </li>
          <li class="nav-list navigation__item one-in">
            <a href="#Transactionalemails" class="anchor-link-privacy navigation__link">Transactional emails</a>
          </li>
        </ul>
      </li>
      <li class="nav-list navigation__item">
        <a href="#Styleadvicehub" class="anchor-link-privacy navigation__link">Style advice hub</a>
      </li>
      <li class="nav-list navigation__item">
        <a href="#Widgets" class="anchor-link-privacy navigation__link">Widgets</a>
      </li>
      <li class="nav-list navigation__item">
        <a href="#MiscellaneousInformation" class="anchor-link-privacy navigation__link">Miscellaneous Information</a>
      </li>
      <li class="nav-list navigation__item">
        <a href="#IntegrationSamples" class="anchor-link-privacy navigation__link">Integration Samples</a>
        <ul>
          <li class="nav-list navigation__item one-in">
            <a href="#StyleHub" class="anchor-link-privacy navigation__link">Style Hub</a>
            <ul>
              <li class="nav-list navigation__item two-in">
                <a href="#Iframe" class="anchor-link-privacy navigation__link">Iframe</a>
              </li>
            </ul>
          </li>
          <li class="nav-list navigation__item one-in">
            <a href="#Widgetstracking" class="anchor-link-privacy navigation__link">Widgets / tracking</a>
            <ul>
              <li class="nav-list navigation__item two-in">
                <a href="#Sizingwidget" class="anchor-link-privacy navigation__link">Sizing widget</a>
              </li>
              <li class="nav-list navigation__item two-in">
                <a href="#Outfitswidget" class="anchor-link-privacy navigation__link">Outfits widget</a>
              </li>
              <li class="nav-list navigation__item two-in">
                <a href="#Promowidget" class="anchor-link-privacy navigation__link">Promo widget</a>
              </li>
              <li class="nav-list navigation__item two-in">
                <a href="#Searchwidget" class="anchor-link-privacy navigation__link">Search widget</a>
              </li>
              <li class="nav-list navigation__item two-in">
                <a href="#PLPWidget" class="anchor-link-privacy navigation__link">PLP Widget</a>
              </li>
              <li class="nav-list navigation__item two-in">
                <a href="#HomePageWidget" class="anchor-link-privacy navigation__link">Home Page Widget</a>
              </li>
            </ul>
          </li>
          <li class="nav-list navigation__item one-in">
            <a href="#Trackingpseudo-widgets" class="anchor-link-privacy navigation__link">Tracking pseudo-widgets</a>
            <ul>
              <li class="nav-list navigation__item two-in">
                <a href="#PDPtracking" class="anchor-link-privacy navigation__link">PDP tracking</a>
              </li>
              <li class="nav-list navigation__item two-in">
                <a href="#PLPtracking" class="anchor-link-privacy navigation__link">PLP tracking</a>
              </li>
              <li class="nav-list navigation__item two-in">
                <a href="#Orderconfirmationtracking" class="anchor-link-privacy navigation__link long-text">Order confirmation tracking</a>
              </li>
              <li class="nav-list navigation__item two-in">
                <a href="#HomepageTracking" class="anchor-link-privacy navigation__link">Homepage Tracking</a>
              </li>
            </ul>
          </li>
          <li class="nav-list navigation__item one-in">
            <a href="#GoogleTagManagerExamples" class="anchor-link-privacy navigation__link long-text">Google Tag Manager Examples</a>
            <ul>
              <li class="nav-list navigation__item two-in">
                <a href="#PDPTracking-gtm" class="anchor-link-privacy navigation__link">PDP Tracking</a>
              </li>
              <li class="nav-list navigation__item two-in">
                <a href="#OrderConfirmationTracking-gtm" class="anchor-link-privacy navigation__link long-text">Order Confirmation Tracking</a>
              </li>
              <li class="nav-list navigation__item two-in">
                <a href="#PLPtracking-gtm" class="anchor-link-privacy navigation__link">PLP tracking</a>
              </li>
              <li class="nav-list navigation__item two-in">
                <a href="#PLPWidget-gtm" class="anchor-link-privacy navigation__link">PLP Widget</a>
              </li>
            </ul>
          </li>
          <li class="nav-list navigation__item one-in">
            <a href="#APIexamples" class="anchor-link-privacy navigation__link">API examples</a>
            <ul>
              <li class="nav-list navigation__item two-in">
                <a href="#OutfitsWidget" class="anchor-link-privacy navigation__link">Outfits Widget</a>
              </li>
            </ul>
          </li>
      </li>
      </ul>
    </div>
    </nav>
  </div>
  <div class="container gutter">
    <div class="gutter content section__body considerations">
      <div class="content-wrapper">
        {{ content }}
      </div>
    </div>
  </div>
</section>
