---
layout: default
---

<section class="section section-contact">
  <div class="container">
    <div class="gutter contact-form">
      {{ content }}
  </div>
</section>

{% if page.google-maps %}
<div class="container">
<div class="gutter contact-info">
<h3 class="contact-info__title">Company Address</h3>
<address>
  {{site.company.name}}<br/>
  {{site.company.address.street}}<br/>
  {{site.company.address.city}}
</address>
</div>
</div>
<section class="google-maps">
  {{ page.google-maps }}
</section>
{% endif %}
