<!DOCTYPE html>
<html>
  {% include partials/head.html %}
  <body>
  {% if site.gtm-code %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm-code }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% endif %}

  {% unless page.layout == 'download' %}
  <!-- include header -->
  {% include partials/header.html %}
  {% endunless %}

  <!-- include content -->
  {% if my_page_url == 'privacy' or my_page_url == 'cookies' or my_page_url == 'terms-and-conditions'%}
  <section class="privacy" >
  {% endif %}
  <main role="main">
  {{ content }}
  {% if page.has-contact-section %}
  {% include partials/contact.html %}
  {% endif %}
  </main>

  <!-- include footer -->
  {% include partials/footer.html %}
  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/scripts/main.js"></script>
  <script type="text/javascript">
  _linkedin_data_partner_id = "300788";
  </script>
  <script src="/scripts//ideal-image-slider.js"></script>
  <script>
    var slider = new IdealImageSlider.Slider('#slider');
    slider.start();
  </script>
  {% include /linkedin_tracking/linkedin_tracking.html %}
  </body>
</html>
