<!DOCTYPE html>
<html>
  {% include partials/head.html %}
  <body>
  {% if site.gtm-code %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm-code }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% endif %}

  {% unless page.layout == 'download' %}
  <!-- include header -->
  {% include partials/header.html %}
  {% endunless %}

  <!-- include content -->
  <main role="main">
  {{ content }}
  {% if page.has-demo-section %}
  {% include partials/book-a-demo.html %}
  {% endif %}
  </main>

  <!-- include footer -->
  {% include partials/footer.html %}
  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/scripts/main.js"></script>
  <script src="/scripts/prism.js"></script>
  <script src="/scripts/jquery.waypoints.min.js"></script>
  <script src="/scripts/sticky.min.js"></script>
  <script type="text/javascript">
_linkedin_data_partner_id = "300788";
</script>
<script type="text/javascript">
(function(){var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt=""
src="https://dc.ads.linkedin.com/collect/?pid=300788&fmt=gif" />
</noscript>

  </body>
</html>
