---
layout: default
---

{% assign my_page_url = page.url | remove: '/' %}
<header>
	{% if page.is-landing-page %}
	{% if page.includes-video %}
	<div class="video-page section landing background--light-grey">
		<div class="container gutter">
			<hgroup class="section__heading">
				<h2 class="header__title">{{ page.title }}</h2>
        <p class="header__subtitle">{{ page.subtitle }}</p>
			</hgroup>
	  </div >
  </div>

  <div class="video-wrapper">
		<video width="100%" height="100%" controls poster="{{ page.video-mask }}">
			<source src="{{ page.video-url }}" type="video/mp4">
  	</video>	
	</div>
  {% endif %}
  {% endif %}

  {% unless page.includes-video %}
  <div class="hero hero-case-study">
    <div class="container gutter">
      <div class="hero__content">
      {% if page.testimonial.logo %}
        <div class="case-study__logo {{ page.testimonial.class }}"><img src="{{ page.testimonial.logo }}" /></div>
      {% endif %}
      {{ content }}
      </div>
      {% if page.download.formId %}
      <div class="hero__form">
        <div class="form-download">
          <hgroup class="form-download__heading">
            <h3>{{ page.form.title }} </h3>
          </hgroup>
          <!-- Start Hubspot download form -->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
          <script>
            hbspt.forms.create({
            region: "na1",
            portalId: "9442988",
            formId: "{{ page.download.formId }}"
          });
          </script>
          <!-- End Hubspot download form -->
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% endunless %}
</header>

{% if page.includes-video %}
<div class="video-page section landing background--light-grey">
  <div class="container gutter">
    {{ content }}
  </div >
</div>
{% endif %}

{% unless page.includes-video %}
<section class="section download-clients">
  <hgroup class="container gutter section__heading">
    <h3>Our Clients</h3>
    <h4>Brands Using Dressipi</h4>
  </hgroup>

  <div class="section__body">
    <div class="container clients">
        <!-- client logo slider -->
      <div class="slider">
        {% for client in site.clients %}
        <div class="client__logo_wrapper {{ client.class }}">
          <img
            src="{{ client.logo }}"
            class="client__logo"
            alt="{{ client.title }}"
          />
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endunless %}
