---
layout: default
---

{% assign my_page_url = page.url | remove: '/' %}
<header role="banner">
  <div class="header">
    <div class="container gutter">
      <a href="{{ site.baseurl }}/" class="header__logo">{% include svgs/logo.svg %}</a>
    </div>
  </div>
  <div class="hero hero-case-study" style="background: {{ page.header.color | default: '#f5f5f5' }} {% if page.header.hero-image %}url({{ page.header.hero-image }}) no-repeat {{ page.header.hero-align | default: "right" }}{% endif %}">
    <div class="container gutter">
      <div class="hero__content">
        {{ content }}
      </div>
      <!-- download form -->
      <div class="hero__form">
        <div class="form-download">
          <hgroup class="form-download__heading">
            <h3>{{ page.form.title }}</h3>
          </hgroup>

          <form class="form-download__form" method="POST" action="https://formspree.io/xnjjplox">
            <input type="text" name="_gotcha" style="display: none">
            <input type="hidden" name="_next" value="{{ page.form.file | default: '/' }}" />
            <input type="hidden" name="_subject" value="New Download – Email submission" />
            <!-- hidden field to be tested -->
            <input type="hidden" name="page url" value="{{ page.url }}" />
            <input class="form-download__input" type="input" name="name" placeholder="Enter your name">
            <input class="form-download__input" type="email" name="email" placeholder="Enter your work email">
            <button class="button button--large button-primary form-download__submit" type="submit">{{ page.form.button }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="section">
  <hgroup class="container gutter section__heading">
    <h3>Our Clients</h3>
    <h4>Brands Using Dressipi</h4>
  </hgroup>

  <div class="section__body">
    <div class="container clients">
      <ul class="client__logos">
      {% for client in site.clients limit: 8 %}
        <li class="gutter client__logo"><a href="{{ client.link }}" target="_blank" title="{{ client.title }}" ><img src="{{ client.image }}" class="" alt="{{ client.title }}" /></a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
</section>
