---
layout: default
---

{% assign my_page_url = page.url | remove: '/' %}
<header role="banner">
  <div class="header">
    <div class="container gutter">
      <a href="{{ site.baseurl }}/" class="header__logo">{% include svgs/logo.svg %}</a>
    </div>
  </div>
  <div class="hero hero-case-study">
    <div class="container gutter">
      <div class="hero__content">
      {% if page.testimonial.logo %}
        <div class="case-study__logo {{ page.testimonial.class }}"><img src="{{ page.testimonial.logo }}" /></div>
      {% endif %}
      {{ content }}
      </div>
      <!-- download form -->
      <div class="hero__form">
        <div class="form-download">
          <hgroup class="form-download__heading">
            <h3>{{ page.form.title }} </h3>
          </hgroup>

          <form class="form-download__form" method="POST" action="https://formspree.io/mgoaajkm">
            <input type="text" name="_gotcha" style="display: none">
            <input type="hidden" name="_next" value="{{ page.form.file | default: '/' }}" />
            <input type="hidden" name="_subject" value="New Download – Email submission" />
            <!-- hidden field to be tested -->
            <input type="hidden" name="page url" value="{{ page.url }}" />
            <input class="form-download__input" type="input" name="name" placeholder="Enter your name">
            <input class="form-download__input" type="email" name="email" placeholder="Enter your work email">
            <input type="checkbox" name="marketing"  id="checkOpt" name="subscribe">
            <label for="checkOpt" class="checkOpt__label">{{ page.form.checkbox }}</label>
            <button class="button button--large button-primary form-download__submit {{page.form.button_class}}" type="submit">
              {{ page.form.button }}
              {{ page.form.img }}

            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="section">
  <hgroup class="container gutter section__heading">
    <h3>Our Clients</h3>
    <h4>Brands Using Dressipi</h4>
  </hgroup>

  <div class="section__body">
    <div class="container clients">
      <ul class="client__logos">
      {% for client in site.clients %}
        <li class="client__logo {{ client.class }}"><img src="{{ client.logo }}" class="" alt="{{ client.title }}" /></li>
      {% endfor %}
      </ul>
    </div>
  </div>
</section>
