---
layout: default
---

{% assign my_page_url = page.url | remove: '/' %}
{% if page.is-landing-page %}
{% if page.includes-video %}
<section class="video-page section landing">
	<div class="container gutter">
		<hgroup class="section__heading">
			<h2 class="header__title">{{ page.title }}</h2>
			<h4>{{ page.day }}</h4>
		</hgroup>
	{% if page.url contains '/dressipi-optimise-sale-overstocked-products-webinar/' %}
	<div class="container--narrow gutter">
		<div class="container--host ">
			<div class="wrapper--host left">
				<img src="{{ page.left-headshot }}">
				<p class="host-text-left">{{ page.left-host-name}}</p>
				<h4 class="host-text-left">{{ page.left-host-title}}</h4>
			</div>
			<div class="wrapper--host right">
				<img src="{{ page.right-headshot }}">
				<p class="host-text-right">{{ page.right-host-name}}</p>
				<h4 class="host-text-right">{{ page.right-host-title}}</h4>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="section__body">
		<div class="description"> 
			<p>{{ content }}</p>
		</div>
	</div>
	</div>
	<div class="video-wrapper">
		<video width="100%" height="100%" controls poster="{{ page.video-mask }}">
			<source src="{{ page.video-url }}" type="video/mp4">
  		</video>	
	</div>
</div>
</section>
{% endif %}
{% unless page.includes-video %}
<section id="download" class="section landing">
	<div class="container gutter">
		<div class="landing__content">
			{{content}}
		</div>
		<div class="landing__form">

    {% if page.downloads %}
			{% assign downloads = site.downloads %}
      {% for download in downloads %}
      {% if page.downloads contains download.title %}
			<div class="form-download">
        <hgroup class="form-download__heading">
          <h3>{{ download.form.title }}</h3>
        </hgroup>

        <form class="form-download__form" method="POST" action="https://formspree.io/mgoaajkm">
          <input type="text" name="_gotcha" style="display: none">
          <input type="hidden" name="_next" value="{{ download.form.file | default: '/' }}" />
          <input type="hidden" name="_subject" value="New Download – Email submission" />
          <!-- hidden field to be tested -->
          <input type="hidden" name="download url" value="{{ download.url }}" />
          <input class="form-download__input" type="input" name="name" placeholder="Enter your name" required>
          <input class="form-download__input" type="email" name="email" placeholder="Enter your work email" required>
					<input type="checkbox" name="marketing"  id="checkOpt" name="subscribe">
					<label for="checkOpt" class="checkOpt__label">{{ download.form.checkbox }}</label>
          <button class="button button--large button-primary form-download__submit {{download.form.button_class}}" type="submit">
            {{ download.form.button }}
          </button>
        </form>
      </div>
		  {% endif %}
      {% endfor %}
    {% elsif page.is-demo-page %}
      {% include partials/form-demo.html %}
		{% endif %}
    </div>
	</div>
</section>
{% endunless %}
{% unless page.hide-clients-carousel %}
<section class="section">
	<div class="container gutter">
		<hgroup class="section__heading">
  		<h3>Dressipi's Retail Partners</h3>
  	</hgroup>
  	<div class="section__body">
		<!-- client logo slider -->
		<div class="slider">
		{% assign site_clients = site.clients | sort:'position' %}
		{% for client in site.clients %}
		<div class="client__logo_wrapper {{ client.class }}">
			<img
			  src="{{ client.logo }}"
			  class="client__logo"
			  alt="{{ client.title }}"
			/>
		</div>		
		{% endfor %}
		</div>
    </div>
  </div>
</section>
{% endunless %}
{% else %}
<div class="container gutter page-content{% if page.width %}{{ page.width | prepend: '--' }}{% endif %}">
	<h4>Effective Date: 23 May 2018</h4>
	{{ content }}
<h2>Retail Partner Account & Privacy Links</h2>
	<div id="privacy">
	<table >
		<tr>
			<th>Account Link</th>
			<th>Retailer Privacy Policy</th>
		</tr>
		<tr>
			<td> <a href="https://dressipi-production.evans.co.uk/redirect?target=profile" target="_blank">Evans Style Adviser</a></td>
			<td> <a href="http://www.evans.co.uk/en/evuk/category/privacy-cookies-250298/home" target="_blank">Evans Privacy Policy</a></td>
		</tr>
		<tr>
			<td> <a href="https://dressipi-production.johnlewis.com/redirect?target=profile" target="_blank">John Lewis Personal Style Edit</a></td>
			<td> <a href="https://www.johnlewis.com/customer-services/shopping-with-us/privacy-notice" target="_blank">John Lewis Privacy Notice</a></td>
		</tr>
		<tr>
			<td> <a href="https://dressipi-production.topshop.com/redirect?target=profile" target="_blank">My Topshop Wardrobe</a></td>
			<td> <a href="http://www.topshop.com/en/tsuk/category/terms-conditions-19/home?cat2=259987&intcmpid=W_FOOTER_%20TERMS_CONDITIONS#fragment-10" target="_blank">My Topshop Privacy Policy</a></td>
		</tr>
		<tr>
			<td> <a href="https://dressipi-production.wallis.co.uk/redirect?target=profile" target="_blank">Wallis Style Adviser</a></td>
			<td> <a href="http://www.wallis.co.uk/webapp/wcs/stores/servlet/CatalogNavigationSearchResultCmd?catalogId=33058&storeId=12557&langId=-1&viewAllFlag=false&categoryId=281007&interstitial=true" target="_blank">Wallis Privacy Policy</a></td>
		</tr>
	</table>
</div>
	{% if my_page_url == '404.html' %}
  <section class="container--narrow">
  	<div class="container">
      {% assign downloads = site.downloads | sort: 'position' %}
      {% for download in downloads limit:1 %}
		  <hgroup class="container gutter section__heading">
	    	<h3>{{ download.testimonial.author.name }}</h3>
	    	<h4>{{ download.testimonial.author.job-title }}, {{ download.testimonial.author.company }}</h4>
	  	</hgroup>
	  	<div>
	  		<blockquote><p>{{ download.testimonial.body | remove: '“' }}</p></blockquote>
	  		<p><a href="{{ download.url }}" class="button button-primary">{{ download.testimonial.action }}</a></p>
	  	</div>
    </div>
      {% endfor %}
	</section>
	{% endif %}
</div>
{% endif %}
