---
layout: default
---

{% for section in page.sections %}
{% assign handle = section.handle %}
{% assign branch = section.subsections.branch %}

<section  id="{{ handle }}" class="section {% if handle %}{{ section.handle | prepend: 'section-' | append: ' ' }}{% endif %}background--{{ section.color | default:'white' }}">
	<!-- section heading group -->
  <hgroup class="container gutter section__heading">
    {% if section.title %}<h3>{{ section.title }}</h3>{% endif %}
    {% if section.subtitle %}<h4>{{ section.subtitle }}</h4>{% endif %}
  </hgroup>

	<!-- section content group -->
  <div class="section__body">
    {% case handle %}
    {% when 'predict-platform' %}
    <div class="container">
      {% if section.description %}<p class="project__body">{{ section.description }}</p>{% endif %}
      {% if section.image %}
      <div class="gutter project__image">
        <div><!-- keep flex image ratio -->
          <img src="{{ section.image }}" alt="{{ section.title }}" {% if section.hres-image %}srcset="{{ section.hres-image }} 2x"{% endif %} />
        </div>
      </div>
      {% endif %}
    </div>
    {% when 'projects' %}
		<div class="projects">
		  {% for subsection in section.subsections %}
		  <div class="project">
		    <div class="container">
		    	{% if subsection.image %}
		      <div class="gutter project__image">
						<div><!-- keep flex image ratio -->
              <img src="{{ subsection.image }}" alt="{{ subsection.title }}" {% if subsection.hres-image %}srcset="{{ subsection.hres-image }} 2x"{% endif %} />
            </div>
		      </div>
		      {% endif %}
		      <div class="gutter project__copy{% if subsection.align == 'top' %}--top{% endif %}">
		        <h2 class="project__title">{{ subsection.title }}</h2>
            {% if subsection.branch == 'getting-started' %}
		        <div class="project__body">{{ subsection.description | markdownify }} {{ content }}</div>
            {% endif %}
            {% if subsection.branch == 'platform-integrations' %}
            <div class="project__body">{{ subsection.description | markdownify }}</div>
            <ul class="integration__logos">
            {% assign site_integrations = site.integrations | sort:'position' %}
            {% for integration in site_integrations %}
              <li class="integration__logo {{ integration.class }}" ><img src="{{ integration.logo }}" alt="{{ integration.title }}" /></li>
            {% endfor %}
            </ul>


            {% endif %}
		        {% if subsection.action %}<a href="{{ subsection.action.url }}" class="button button-{{ subsection.action.style | default: 'secondary' }}">{{ subsection.action.copy }}</a>{% endif %}
		      </div>
		    </div>
		  </div>
		  {% endfor %}
		</div>
    {% endcase %}

  </div>

  {% if section.button %}
  <!-- section footer group -->
  <div class="container gutter section__footer text--center">
  	<a href="{{ section.button.url }}" class="button button--medium button-{{ section.button.style | default: 'secondary' }}">{{ section.button.copy }}</a>
  </div>
  {% endif %}


</section>



{% endfor %}
<div id="form-demo" class="form-demo section">
  <div class="container gutter">
    <hgroup class="form-demo__heading">
      <h2>{{ site.form-demo.title }}</h2>
      <h3>{{ site.form-demo.subtitle }}</h3>
      <a href="/contact" class="button button--large button-primary" title="">{{ site.form-demo.button }}</a>
    </hgroup>
  </div>
</div>
