---
layout: default
---

<div class="container gutter page-content{% if page.width %}{{ page.width | prepend: '--' }}{% endif %} privacy">
	<h4>Effective Date: 23 May 2018</h4>
	{{ content }}
<h2>Retail Partner Account & Privacy Links</h2>
	<div id="privacy">
	<table >
		<tr>
			<th>Account Link</th>
			<th>Retailer Privacy Policy</th>
		</tr>
		<tr>
			<td> <a href="https://dressipi-production.evans.co.uk/redirect?target=profile" target="_blank">Evans Style Adviser</a></td>
			<td> <a href="http://www.evans.co.uk/en/evuk/category/privacy-cookies-250298/home" target="_blank">Evans Privacy Policy</a></td>
		</tr>
		<tr>
			<td> <a href="https://dressipi-production.jdwilliams.co.uk/redirect?target=profile" target="_blank">JD Williams Style Adviser</a></td>
			<td> <a href="https://www.jdwilliams.co.uk/shop/policies/policiesView.action?decoration=true&finalTarget=policies_rights&cm_sp=JDW-Footer-_-PrivacyPolicy-_-PrivacyPolicy&decoration=true" target="_blank">JD Williams Privacy Policy</a></td>
		</tr>
		<tr>
			<td> <a href="https://dressipi-production.johnlewis.com/redirect?target=profile" target="_blank">John Lewis Personal Style Edit</a></td>
			<td> <a href="https://www.johnlewis.com/customer-services/shopping-with-us/privacy-notice" target="_blank">John Lewis Privacy Notice</a></td>
		</tr>
		<tr>
			<td> <a href="https://dressipi.littlewoods.com/redirect?target=profile" target="_blank">Littlewoods Style Adviser</a></td>
			<td> <a href="https://www.littlewoods.com/help/en/privacy-terms.page" target="_blank">Littlewoods Privacy Notice</a></td>
		</tr>
		<tr>
			<td> <a href="https://dressipi-production.topshop.com/redirect?target=profile" target="_blank">My Topshop Wardrobe</a></td>
			<td> <a href="http://www.topshop.com/en/tsuk/category/terms-conditions-19/home?cat2=259987&intcmpid=W_FOOTER_%20TERMS_CONDITIONS#fragment-10" target="_blank">My Topshop Privacy Policy</a></td>
		</tr>
		<tr>
			<td> <a href="https://dressipi.very.co.uk/redirect?target=profile" target="_blank">Very Style Adviser</a></td>
			<td> <a href="https://www.very.co.uk/help/en/privacy-terms.page" target="_blank">Very Privacy Notice</a></td>
		</tr>
		<tr>
			<td> <a href="https://dressipi-production.wallis.co.uk/redirect?target=profile" target="_blank">Wallis Style Adviser</a></td>
			<td> <a href="http://www.wallis.co.uk/webapp/wcs/stores/servlet/CatalogNavigationSearchResultCmd?catalogId=33058&storeId=12557&langId=-1&viewAllFlag=false&categoryId=281007&interstitial=true" target="_blank">Wallis Privacy Policy</a></td>
		</tr>
	</table>
</div>
</div>
