---
layout: default
---

{% for section in page.sections %} 
{% assign handle = section.handle %} {%
assign my_page_url = page.url | remove: '/' %} 
{% assign branch = section.subsections.branch %}
<section
  id="{{ handle }}"
  class="section {% if handle %}{{ section.handle | prepend: 'section-' | append: ' ' }}{% endif %}background--{{ section.color | default:'white' }}"
>
  <!-- section heading group -->
  {% if section.title %}
  <hgroup class="container gutter section__heading">
    <h3>{{ section.title }}</h3>
    {% endif %} {% if section.subtitle %}
    <h4>{{ section.subtitle }}</h4>
  </hgroup>
  {% endif %}

  <!-- section content group -->
  <div class="section__body">
    {% case handle %}
    {% when 'overview' %}
    <div class="container">
      <ul class="overview__list">
        {% for subsection in section.subsections %}
        {% if subsection.image %}
		      <div class="gutter project__image">
						<div><!-- keep flex image ratio -->
              <img src="{{ subsection.image }}" alt="{{ subsection.title }}" {% if subsection.hres-image %}srcset="{{ subsection.hres-image }} 2x"{% endif %} />
            </div>
		      </div>
		    {% endif %}
        <li class="overview-section__wrap">
          <div class="overview-section">
            <div class="overview-section__header">
              <h2 class="project__title">{{ subsection.title }}</h2>
            </div>
            <div class="overview-section__image"><img src="{{ download.testimonial.author.image }}" /></div>
            <div class="overview-section__body"><p>{{ subsection.body }}</p></div>
            {% if subsection.action %}<a href="{{ subsection.action.url }}" class="button button-{{ subsection.action.style | default: 'primary' }} text--center">{{ subsection.action.copy }}</a>{% endif %}
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>


    {% when 'solutions' %}
		<div class="projects">
		  {% for subsection in section.subsections %}
		  <div class="project" style="padding: 0">
		    <div class="container">
		    	{% if subsection.image %}
		      <div class="gutter project__image">
						<div><!-- keep flex image ratio -->
              <img src="{{ subsection.image }}" alt="{{ subsection.title }}" {% if subsection.hres-image %}srcset="{{ subsection.hres-image }} 2x"{% endif %} />
            </div>
		      </div>
		      {% endif %}
		      <div class="gutter project__copy{% if subsection.align == 'top' %}--top{% endif %}">
		        <h2 class="project__title">{{ subsection.title }}</h2>
            {% if subsection.branch == 'platform-integrations' %}
            <ul class="integration__logos">
            {% assign site_integrations = site.integrations | sort:'position' %}
            {% for integration in site_integrations %}
              <li class="integration__logo {{ integration.class }}" ><img src="{{ integration.logo }}" alt="{{ integration.title }}" /></li>
            {% endfor %}
            </ul>
            {% endif %}
		        {% if subsection.action %}<a href="{{ subsection.action.url }}" class="button button-{{ subsection.action.style | default: 'secondary' }}">{{ subsection.action.copy }}</a>{% endif %}
		      </div>
		    </div>
		  </div>
		  {% endfor %}
		</div>
    {% when 'intro' %}
    <div
      class="container{% if section.width %}{{ section.width | prepend: '--' }}{% endif %} gutter ul-bullet {{ section.class }}"
    >
      {{ section.body | markdownify }}
      <div class="intro__list">
        {% for subsection in section.subsections %}
        <div class="gutter intro">
          <div class="intro__copy">
            <h3 class="intro__title">{{ subsection.title }}</h3>
            <div class="intro__body">{{ subsection.body | markdownify }}</div>
            {% if subsection.list %}
            <div class="intro__body tick-ul">
              {{ subsection.list | markdownify }}
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% when 'slide' %}
    <div class="slide">
      {% for subsection in section.subsections %}
      <div class="sub_slide">
        <div class="container">
          {% if subsection.image %}
          <div class="gutter slide__image">
            <div>
              <!-- keep flex image ratio -->
              <img
                src="{{ subsection.image }}"
                alt="{{ subsection.title }}"
                {%
                if
                subsection.hres-image
                %}srcset="{{ subsection.hres-image }} 2x"
                {%
                endif
                %}
                class="slide__image"
              />
            </div>
          </div>
          {% endif %}
          <div
            class="gutter slide__copy{% if subsection.align == 'top' %}--top{% endif %}"
          >
            <h2 class="slide__title">{{ subsection.title }}</h2>
            <div class="slide__body">{{ subsection.body | markdownify }}</div>
            {% if subsection.action %}<a
              href="{{ subsection.action.url }}"
              class="button button-{{ subsection.action.style | default: 'secondary' }}"
              >{{ subsection.action.copy }}</a
            >{% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% when 'features' %}
    <div class="features">
      {% for subsection in section.subsections %}
      <div class="feature">
        <div class="container">
          {% if subsection.image %}
          <div class="gutter feature__image {{ subsection.class }}">
            <div>
              <!-- keep flex image ratio -->
              <img
                src="{{ subsection.image }}"
                alt="{{ subsection.title }}"
                {%
                if
                subsection.hres-image
                %}srcset="{{ subsection.hres-image }} 2x"
                {%
                endif
                %}
                class="feature__image"
              />
            </div>
          </div>
          {% endif %}
          <div
            class="gutter feature__copy{% if subsection.align == 'top' %}--top{% endif %}"
          >
            <h2 class="feature__title">{{ subsection.title }}</h2>
            <p class="slide__title">{{ subsection.subtitle }}</p>
            <div class="feature__body">{{ subsection.body | markdownify }}</div>
          </div>
        </div>
        <div class="container features-container text--center" >
          {% if subsection.action %}<a
          href="{{ subsection.action.url }}"
          class="button button-{{ subsection.action.style | default: 'primary' }} text--center"
          >{{ subsection.action.copy }}</a
          >{% endif %}
        </div>
      </div>
      {% endfor %}

  </div>
    {% when 'benefits' %}
    <div
      class="container benefits {% if section.is-centered %}text--center{% endif %}"
    >
      {% for subsection in section.subsections %}
      <div class="gutter benefit {{ subsection.gutter-class }}">
        <div class="benefit__icon">
          <img src="{{ subsection.image }}" class="{{ subsection.class }}" />
        </div>
        <h3 class="benefit__title">{{ subsection.title }}</h3>
        <div class="benefit__body">
          {{ subsection.body | markdownify }}
        </div>
      </div>
      {% endfor %}
    </div>
    {% for subsection in section.subsections %}
    <div class="container benefits-container text--center" >
    {% if subsection.action %}
    <a href="{{ subsection.action.url }}" class="button button-{{ subsection.action.style | default: 'primary' }}">{{ subsection.action.copy }}</a>
    {% endif %}
    </div>
    {% endfor %}
    {% when nil %}
    <div
      class="container{% if section.width %}{{ section.width | prepend: '--' }}{% endif %} gutter"
    >
      {{ section.body | markdownify }}
    </div>
    {% endcase %}
  </div>

  {% if section.button %}
  <!-- section footer group -->
  <div class="container section__footer text--center">
    <a
      href="{{ section.button.url }}"
      class="button button--medium button-{{ section.button.style | default: 'secondary' }}"
      >{{ section.button.copy }}</a
    >
  </div>
  {% endif %}
</section>
{% endfor %}
