---
layout: default
---

{% for section in page.sections %}
{% assign handle = section.handle %}
<section class="section {% if handle %}{{ section.handle | prepend: 'section-' | append: ' ' }}{% endif %}background--{{ section.color | default:'white' }}">
	<!-- section heading group -->
  <hgroup class="container gutter section__heading">
    {% if section.title %}<h3>{{ section.title }}</h3>{% endif %}
    {% if section.subtitle %}<h4>{{ section.subtitle }}</h4>{% endif %}
  </hgroup>

	<!-- section content group -->
  <div class="section__body">
    {% case handle %}
    {% when 'intro' %}
    <div class="container{% if section.width %}{{ section.width | prepend: '--' }}{% endif %} gutter">
      {{ section.body | markdownify }}
      <div class="intro__list">
        {% for subsection in section.subsections %}
        <div class="gutter intro">
          <div class="intro__copy">
            <h3 class="intro__title">{{ subsection.title }}</h3>
            <div class="intro__body">{{ subsection.body | markdownify }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% when 'slide' %}
    <div class="slide">
      {% for subsection in section.subsections %}
        <div class="sub_slide">
          <div class="container">
            {% if subsection.image %}
            <div class="gutter slide__image">
              <div><!-- keep flex image ratio -->
                <img src="{{ subsection.image }}" alt="{{ subsection.title }}" {% if subsection.hres-image %}srcset="{{ subsection.hres-image }} 2x"{% endif %} class="slide__image"  />
              </div>
            </div>
            {% endif %}
            <div class="gutter slide__copy{% if subsection.align == 'top' %}--top{% endif %}">
              <h2 class="slide__title">{{ subsection.title }}</h2>
              <div class="slide__body">{{ subsection.body | markdownify }}</div>
              {% if subsection.action %}<a href="{{ subsection.action.url }}" class="button button-{{ subsection.action.style | default: 'secondary' }}">{{ subsection.action.copy }}</a>{% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
		{% when 'features' %}
		<div class="features">
		  {% for subsection in section.subsections %}
		  <div class="feature">
		    <div class="container">
		      {% if subsection.image %}
		      <div class="gutter feature__image">
		      	<div> <!-- keep flex image ratio -->
		      		<img src="{{ subsection.image }}" alt="{{ subsection.title }}" {% if subsection.hres-image %}srcset="{{ subsection.hres-image }} 2x"{% endif %} class="feature__image"  />
		      	</div>
		      </div>
		      {% endif %}
		      <div class="gutter feature__copy{% if subsection.align == 'top' %}--top{% endif %}">
		        <h2 class="feature__title">{{ subsection.title }}</h2>
		        <div class="feature__body">{{ subsection.body | markdownify }}</div>
		        {% if subsection.action %}<a href="{{ subsection.action.url }}" class="button button-{{ subsection.action.style | default: 'secondary' }}">{{ subsection.action.copy }}</a>{% endif %}
		      </div>
		    </div>
		  </div>
		  {% endfor %}
		</div>
		{% when 'benefits' %}
		<div class="container benefits {% if section.is-centered %}text--center{% endif %}">
		  {% for subsection in section.subsections %}
		  <div class="gutter benefit">
		    <div class="benefit__icon"><img src="{{ subsection.image }}" /></div>
		    <h3 class="benefit__title">{{ subsection.title }}</h3>
		    <div class="benefit__body">
		    	{{ subsection.body | markdownify }}
		    </div>
		  </div>
		  {% endfor %}
		</div>
		{% when 'cases' %}
		<div class="container">
      <ul class="cases__list">
      {% assign downloads = site.downloads | sort: 'position' %}
      {% for download in downloads %}
        {% if section.downloads contains download.title %}
        <li class="case-study__wrap">
          <div class="case-study">
            <div class="case-study__header">{{ download.testimonial.author.name }}<span>{{ download.testimonial.author.job-title }}, {{ download.testimonial.author.company }}</span>
            {% if download.testimonial.logo %}<div class="case-study__logo"><img src="{{ download.testimonial.logo }}" /></div>{% endif %}
            </div>
            <div class="case-study__image"><img src="{{ download.testimonial.author.image }}" /></div>
            <div class="case-study__body"><p>{{ download.testimonial.body }}</p></div>
            <div class="case-study__footer"><a href="{{ download.url }}" class="button button-primary">{{ download.testimonial.action }}</a></div>
          </div>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
  	</div>
		{% when nil %}
    <div class="container{% if section.width %}{{ section.width | prepend: '--' }}{% endif %} gutter">
      {{ section.body | markdownify }}
    </div>
		{% endcase %}
  </div>

  {% if section.button %}
  <!-- section footer group -->
  <div class="container section__footer text--center">
  	<a href="{{ section.button.url }}" class="button button--medium button-{{ section.button.style | default: 'secondary' }}">{{ section.button.copy }}</a>
  </div>
  {% endif %}
</section>
{% endfor %}
