---
layout: default
---

{% assign my_page_url = page.url | remove: '/' | remove: 'resources' %}

{% assign insights = site.downloads | sort: 'position' | where: 'resource', 'Insight' %}

<section class="section section-resources">
  <div class="container">
  	<div class="resources__content gutter">
			{% case my_page_url %}
			{% when 'insights' %}
				{% assign downloads = site.downloads | sort: 'position' | where: 'resource', 'Insights' %}
			{% endcase %}
      <section class="resources__list">
      	{% for download in downloads %}
        <div class="resource">
					<div class="resource__content">
						{{ download.content | markdownify }}
						<p><a href="{{ download.url }}" class="button button--medium button-primary">{{ download.form.button }}</a></p>
			  	</div>
			  	{% if download.image %}
        	<div class="resource__image">
        		<p><img src="{{download.image}}" title="{{ download.title }}" /></p>
        	</div>
        	{% endif %}
			  </div>
      	{% endfor %}
      </section>

		</div>
	</div>
</div>
